<% extend('../layouts/base', { 
  title: "Role management",
  subTitle: "Create",
  script: `
  
  <script src="/libs/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
  <script src="/libs/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/libs/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>

  <script src="/js/admin/table.js"></script>
  
  ` 
}) %>

  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Role</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                    <li class="breadcrumb-item active">Role</li>
                </ol>
                <a href="/admin/roles/create"><button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i
                        class="fa fa-plus-circle"></i> Create New</button></a>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
              <form action="/admin/roles/<%=data.value%>/edit" method="post">

                <div class="card-body">
                    <h4 class="card-title">Role Table</h4>
                    <h6 class="card-subtitle">Permissions table</h6>

                    <div class="row p-t-20">
                      <div class="col-md-6">
                         <div class="form-group form-group-name <%=errors.name?'has-danger':''%>">
                            <label class="control-label">Name</label>
                            <input type="text" id="name" class="form-control" placeholder="" name="name" required value="<%=data.name?data.name:''%>">
                            <small class="form-control-feedback"></small>
                         </div>
                      </div>
                      <div class="col-md-6">
                         <div class="form-group form-group-slug <%=errors.slug?'has-danger':''%>">
                            <label class="control-label">Value</label>
                            <input type="text" id="value" class="form-control" placeholder="" name="value" required value="<%=data.value?data.value:''%>">
                            <small class="form-control-feedback"></small>
                         </div>
                      </div>
                   </div>

                    <div class="table-responsive m-t-40">
                        <table id="myTable" class="DataTable table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                      <div class="CheckAll custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="checkbox7" value="check">
                                        <label class="custom-control-label" for="checkbox7"></label>
                                      </div>
                                    </th>
                                    <th>Value</th>
                                    <!-- <th>CreatedAt</th> -->
                                </tr>
                            </thead>
                            <tbody>
                              <% permissions.forEach(function(item) { %>
                                <tr id="Row-<%=item%>">
                                  <td>
                                    <div class="CheckRecord custom-control custom-checkbox mr-sm-2">
                                      <input type="checkbox" class="custom-control-input" id="checkbox<%=item%>" value="<%=item%>" alt="<%=item%>" name="permissions" <%=data.permissions.includes(item)?'checked':'' %>>
                                      <label class="custom-control-label" for="checkbox<%=item%>"></label>
                                    </div>
                                  </td>
                                  <td><%=item%></td>
                                  <!-- <td><%= moment(item.createdAt).format('DD/MM/YYYY') %></td> -->
                                </tr>
                              <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--/row-->
                <div class="form-actions">
                  <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                  <a href="/admin/roles">
                  <button type="button" class="btn btn-inverse">Cancel</button>
                  </a>
                </div>
              </form>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <div class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span>
            </div>
            <div class="r-panel-body">
                <ul id="themecolors" class="m-t-20">
                    <li><b>With Light sidebar</b></li>
                    <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a>
                    </li>
                    <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                    <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                    <li><a href="javascript:void(0)" data-skin="skin-default-dark"
                            class="default-dark-theme working">7</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-green-dark"
                            class="green-dark-theme">8</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a>
                    </li>
                    <li><a href="javascript:void(0)" data-skin="skin-blue-dark"
                            class="blue-dark-theme">10</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-purple-dark"
                            class="purple-dark-theme">11</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-megna-dark"
                            class="megna-dark-theme ">12</a></li>
                </ul>
                <ul class="m-t-20 chatonline">
                    <li><b>Chat option</b></li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img"
                                class="img-circle"> <span>Varun Dhavan <small
                                    class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img"
                                class="img-circle"> <span>Genelia Deshmukh <small
                                    class="text-warning">Away</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img"
                                class="img-circle"> <span>Ritesh Deshmukh <small
                                    class="text-danger">Busy</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img"
                                class="img-circle"> <span>Arijit Sinh <small
                                    class="text-muted">Offline</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img"
                                class="img-circle"> <span>Govinda Star <small
                                    class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img"
                                class="img-circle"> <span>John Abraham<small
                                    class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img"
                                class="img-circle"> <span>Hritik Roshan<small
                                    class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img"
                                class="img-circle"> <span>Pwandeep rajan <small
                                    class="text-success">online</small></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
<script>
  $(document).ready(function(){
    $('input[name=name]').keyup(function(){
      $('input[name=value]').val($(this).val().toUpperCase())
    })
  })

</script>