<% extend('../client/layouts/base',{
	title: "Homepage",
	css: `

      <link rel="stylesheet" href="/template/2/css/bootstrap.min.css">
      <link rel="stylesheet" href="/template/2/css/color.css" id="color-change">

	`,
	script: `

	`
  }) %>



    <link rel="stylesheet" href="/template/1/css/beauty-salon.css">
    <link rel="stylesheet" href="/libs_client/css/colors/color-1.css">
    <link rel="stylesheet" href="/template/2/css/style.css">
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Spa &amp; Beauty Salon &raquo; Feed" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Spa &amp; Beauty Salon &raquo; Comments Feed" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "http:\/\/www.nicdarkthemes.com\/themes\/beauty\/wp\/demo\/beauty-salon\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.1"
            }
        };
        ! function(a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode;
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
                var d = k.toDataURL();
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
                var e = k.toDataURL();
                return d === e
            }

            function e(a) {
                var b;
                if (!l || !l.fillText) return !1;
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                    case "flag":
                        return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b);
                    case "emoji":
                        return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b
                }
                return !1
            }

            function f(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }
            var g, h, i, j, k = b.createElement("canvas"),
                l = k.getContext && k.getContext("2d");
            for (j = Array("flag", "emoji"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function() {
                c.DOMReady = !0
            }, c.supports.everything || (h = function() {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function() {
                "complete" === b.readyState && c.readyCallback()
            })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <link rel='stylesheet' id='wp-block-library-css' href='/template/1/wp-includes/css/style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='/template/1/wp-content/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' id='nd_options_style-css' href='/template/1/wp-content/css/style1.css' type='text/css' media='all' />
    <link rel='stylesheet' id='nd_options_font_family_h-css' href='/template/1/css/Playfair.css' type='text/css' media='all' />
    <link rel='stylesheet' id='nd_options_font_family_p-css' href='/template/1/css/Open.css' type='text/css' media='all' />
    <link rel='stylesheet' id='nd_options_font_family_third-css' href="css/Cinzel.css" type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='/template/1/wp-content/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' id='timetable_sf_style-css' href='/template/1/wp-content/css/superfish.css' type='text/css' media='all' />
    <link rel='stylesheet' id='timetable_style-css' href='/template/1/wp-content/css/stylev5.1.css' type='text/css' media='all' />
    <link rel='stylesheet' id='timetable_event_template-css' href='/template/1/wp-content/css/event_template.css' type='text/css' media='all' />
    <link rel='stylesheet' id='timetable_font_lato-css' href='/template/1/css/Lato.css' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css' href='/template/1/wp-content/css/woocommerce-layout.css' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='/template/1/wp-content/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href='/template/1/wp-content/css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' id='nicdark-style-css' href='/template/1/wp-content/stylev5.1.css' type='text/css' media='all' />
    <link rel='stylesheet' id='nicdark-fonts-css' href='/template/1/css/font/Open.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='/template/1/wp-content/css/js_composer_front_custom.css' type='text/css' media='all' />
    <script type='text/javascript' src='/template/1/wp-includes/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/template/1/wp-content/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='/template/1/wp-content/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript' src='/template/1/wp-content/js/jquery.blockUI.min.js'></script>

    <script type='text/javascript' src='/template/1/wp-content/js/add-to-cart.min.js'></script>
    <script type='text/javascript' src='/template/1/wp-content/js/woocommerce-add-to-cart.js'></script>
    <link rel='https://api.w.org/' href='/template/1/json/download.json' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.1" />
    <meta name="generator" content="WooCommerce 3.5.6" />
    <link rel="canonical" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/" />
    <link rel='shortlink' href='http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/' />
    <link rel="alternate" type="application/json+oembed" href="/template/1/json/embed.json" />
    <link rel="alternate" type="text/xml+oembed" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.nicdarkthemes.com%2Fthemes%2Fbeauty%2Fwp%2Fdemo%2Fbeauty-salon%2F&#038;format=xml" />

    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <meta name="generator" content="Powered by Slider Revolution 5.4.8.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <link rel="icon" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/wp-content/uploads/sites/2/2017/01/favicon.jpg" sizes="32x32" />
    <link rel="icon" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/wp-content/uploads/sites/2/2017/01/favicon.jpg" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/wp-content/uploads/sites/2/2017/01/favicon.jpg" />
    <meta name="msapplication-TileImage" content="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/wp-content/uploads/sites/2/2017/01/favicon.jpg" />
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c);
                var i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function(e, f) {
                        f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                    }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function(e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        };
    </script>
    <!--favicon icon-->


    <!-- style css -->


    </head>

    <body id="start_nicdark_framework" class="home page-template-default page page-id-11 nd_options_customizer_fonts nd_options_customizer_forms woocommerce-no-js wpb-js-composer js-comp-ver-5.7 vc_responsive">
        <!-- search-modal -->
        <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
                    <img src="/template/HTML/images/search-popup-logo.png" alt="search-popup-logo">
                    <form action="" class="form-inline">
                        <input type="text" name="search" placeholder="Search here...">
                        <button><i class="fa fa-search"></i></button>
                    </form>
                    <div class="quick-search">
                        <h6 class="color-ff pos-relative ptb-30">Quick search</h6>
                        <ul>
                            <li><a href="#">parlour</a></li>
                            <li><a href="#">massage</a></li>
                            <li><a href="#">yoga</a></li>
                            <li><a href="#">spa</a></li>
                            <li><a href="#">beauty</a></li>
                            <li><a href="#">exparts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!--START theme-->
        <div class="nicdark_site nicdark_bg_white nicdark_front_page ">



            <div id="nd_options_site_filter"></div>


            <!--START js-->
            <script type="text/javascript">
                //<![CDATA[

                jQuery(document).ready(function() {

                    //START
                    jQuery(function($) {

                        //OPEN sidebar content ( navigation 4 )
                        $('.nd_options_open_navigation_4_sidebar_content,.nd_options_open_navigation_3_sidebar_content,.nd_options_open_navigation_4_sidebar_content,.nd_options_open_navigation_5_sidebar_content').on("click", function(event) {
                            $('.nd_options_navigation_4_sidebar_content,.nd_options_navigation_3_sidebar_content,.nd_options_navigation_4_sidebar_content,.nd_options_navigation_5_sidebar_content').css({
                                'right': '0px',
                            });
                        });
                        //CLOSE	sidebar content ( navigation 4 )
                        $('.nd_options_close_navigation_4_sidebar_content,.nd_options_close_navigation_3_sidebar_content,.nd_options_close_navigation_4_sidebar_content,.nd_options_close_navigation_5_sidebar_content').on("click", function(event) {
                            $('.nd_options_navigation_4_sidebar_content,.nd_options_navigation_3_sidebar_content,.nd_options_navigation_4_sidebar_content,.nd_options_navigation_5_sidebar_content').css({
                                'right': '-300px'
                            });
                        });
                        ///////////


                    });
                    //END

                });

                //]]>
            </script>
            <!--END js-->









            <!--START js-->
            <script type="text/javascript">
                //<![CDATA[

                jQuery(document).ready(function() {

                    //START
                    jQuery(function($) {

                        //OPEN search	
                        $('.nd_options_navigation_open_search_content').on("click", function(event) {
                            $('.nd_options_navigation_search_content').css({
                                'z-index': '9999',
                                'opacity': '1',
                            });
                        });
                        $('.nd_options_navigation_close_search_content').on("click", function(event) {
                            $('.nd_options_navigation_search_content').css({
                                'z-index': '-1',
                                'opacity': '0',
                            });
                        });
                        ///////////

                    });
                    //END

                });

                //]]>
            </script>
            <!--END js-->

            <!--START button that open the dialog-->
            <div class="nd_tds_display_none_responsive nd_tds_dialog_open_content_dialog nd_tds_cursor_pointer nd_tds_right_30 nd_tds_bottom_30 nd_tds_position_fixed nd_tds_z_index_999">
                <a class="nd_tds_text_align_center nd_tds_width_65 nd_tds_float_left nd_tds_height_65 nd_tds_font_weight_bold nd_tds_display_table nd_tds_font_size_25 nd_tds_line_height_25 nd_tds_color_fff_important nd_tds_border_radius_100_percentage nd_tds_background_color_3 nd_tds_box_shadow_0_0_20_000_015 nd_tds_font_family_montserrat_important">
                    <img width="25px" height="25px" class="nd_tds_animation_rotate nd_tds_float_left nd_tds_position_absolute nd_tds_top_20 nd_tds_left_20" src="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/wp-content/plugins/nd-theme-demos-switcher/addons/dialog/img/settings.svg">
                </a>
            </div>
            <!--END button that open the dialog-->


            <!--START content dialog-->
            <div class="nd_tds_display_none_responsive nd_tds_display_none" id="nd_tds_dialog_content_dialog">



                <div class="nd_tds_position_relative nd_tds_section nd_tds_box_sizing_border_box">

                    <a class="nd_tds_dialog_btn_close_content_dialog nd_tds_cursor_pointer nd_tds_position_absolute nd_tds_left_50_percentage nd_tds_margin_left_27_negative nd_tds_background_color_a1c2c5 nd_tds_display_inline_block nd_tds_padding_15 nd_tds_border_radius_100_percentage">
                        <img class="nd_tds_float_left" width="25px" height="25px;" src="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/wp-content/plugins/nd-theme-demos-switcher/addons/dialog/img/close.svg">
                    </a>

                    <div class="nd_tds_section nd_tds_margin_top_27 nd_tds_background_color_fff">


                        <div class="nd_tds_section nd_tds_padding_40 nd_tds_box_sizing_border_box nd_tds_text_align_center">
                            <div class="nd_tds_section nd_tds_height_20"></div>
                            <h3><strong>GET AN AWESOME START!</strong></h3>
                            <div class="nd_tds_section nd_tds_height_20"></div>
                            <p>With easy ONE CLICK INSTALL and fully customizable options, our demos are the best start you ll ever get!!</p>
                        </div>

                        <h1 class="nd_tds_text_align_center nd_tds_font_size_60 nd_tds_margin_bottom_20_negative nd_tds_line_height_60 nd_tds_color_f1f1f1_important">
                            <strong>DEMOS</strong></h1>


                        <div class="nd_tds_section nd_tds_position_relative nd_tds_padding_0_30 nd_tds_box_sizing_border_box">
                            <div class="nd_tds_float_left nd_tds_width_33_percentage nd_tds_padding_10 nd_tds_box_sizing_border_box">
                                <a class="nd_tds_outline_0" target="_blank" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/"><img class="nd_tds_section nd_tds_box_shadow_0_0_20_000_015" src="http://www.nicdarkthemes.com/themes/beauty/wp/demo/intro/img/demos/demo-1.jpg"></a>
                            </div>
                            <div class="nd_tds_float_left nd_tds_width_33_percentage nd_tds_padding_10 nd_tds_box_sizing_border_box">
                                <a class="nd_tds_outline_0" target="_blank" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/massage/"><img class="nd_tds_section nd_tds_box_shadow_0_0_20_000_015" src="http://www.nicdarkthemes.com/themes/beauty/wp/demo/intro/img/demos/demo-2.jpg"></a>
                            </div>
                            <div class="nd_tds_float_left nd_tds_width_33_percentage nd_tds_padding_10 nd_tds_box_sizing_border_box">
                                <a class="nd_tds_outline_0" target="_blank" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/wellness-center/"><img class="nd_tds_section nd_tds_box_shadow_0_0_20_000_015" src="http://www.nicdarkthemes.com/themes/beauty/wp/demo/intro/img/demos/demo-3.jpg"></a>
                            </div>
                        </div>
                        <div class="nd_tds_section nd_tds_padding_0_30 nd_tds_box_sizing_border_box">
                            <div class="nd_tds_float_left nd_tds_width_33_percentage nd_tds_padding_10 nd_tds_box_sizing_border_box">
                                <a class="nd_tds_outline_0" target="_blank" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/yoga-studio/"><img class="nd_tds_section nd_tds_box_shadow_0_0_20_000_015" src="http://www.nicdarkthemes.com/themes/beauty/wp/demo/intro/img/demos/demo-4.jpg"></a>
                            </div>
                            <div class="nd_tds_float_left nd_tds_width_33_percentage nd_tds_padding_10 nd_tds_box_sizing_border_box">
                                <a class="nd_tds_outline_0" target="_blank" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/nail-salon/"><img class="nd_tds_section nd_tds_box_shadow_0_0_20_000_015" src="http://www.nicdarkthemes.com/themes/beauty/wp/demo/intro/img/demos/demo-5.jpg"></a>
                            </div>
                            <div class="nd_tds_float_left nd_tds_width_33_percentage nd_tds_padding_10 nd_tds_box_sizing_border_box">
                                <a class="nd_tds_outline_0" target="_blank" href="http://www.nicdarkthemes.com/themes/beauty/wp/demo/"><img class="nd_tds_section nd_tds_box_shadow_0_0_20_000_015" src="http://www.nicdarkthemes.com/themes/beauty/wp/demo/intro/img/demos/demo-6.jpg"></a>
                            </div>
                        </div>


                        <div class="nd_tds_section nd_tds_height_30"></div>
                        <div class="nd_tds_section nd_tds_text_align_center">
                            <a style="border-radius:25px;" class="nd_tds_outline_0 nd_tds_display_inline_block nd_tds_text_align_center nd_tds_color_fff_important nd_tds_padding_10_20 nd_tds_font_family_montserrat_important nd_tds_font_size_16 nd_tds_line_height_16 nd_tds_background_color_a1c2c5"
                                target="_blank" href="https://1.envato.market/LG4ea">
							PURCHASE NOW
						</a>
                        </div>
                        <div class="nd_tds_section nd_tds_height_40"></div>


                    </div>

                </div>

            </div>
            <!--END content dialog-->


            <script type="text/javascript">
                //<![CDATA[

                jQuery(document).ready(function() {

                    jQuery("#nd_tds_dialog_content_dialog").dialog({
                        autoOpen: false,
                        draggable: false,
                        width: 700,
                        modal: false,
                        resizable: false,
                        dialogClass: "nd_tds_dialog",
                        show: {
                            effect: "fade",
                            duration: 800
                        },
                        hide: {
                            effect: "fade",
                            duration: 800
                        }
                    });

                    jQuery(".nd_tds_dialog_open_content_dialog").click(function() {
                        jQuery("#nd_tds_dialog_content_dialog").dialog("open");
                        jQuery(".nd_tds_dialog").addClass("nd_tds_dialog_filter_bg");
                    });

                    jQuery(".nd_tds_dialog_btn_close_content_dialog").click(function() {
                        jQuery("#nd_tds_dialog_content_dialog").dialog("close");
                    });

                });

                //]]>
            </script>

            <!--start nd_options_container-->
            <div class="nd_options_container nd_options_padding_0_15 nd_options_box_sizing_border_box nd_options_clearfix" style="padding-top: 73px;">


                <!--#post-->
                <div style="float:left; width:100%;" id="post-11" class="post-11 page type-page status-publish hentry">

                    <!--automatic title-->

                    <!--start content-->
                    <div class="vc_row wpb_row vc_row-fluid "></div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="wpb_revslider_element wpb_content_element">
                                        <div id="rev_slider_7_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
                                            <!-- START REVOLUTION SLIDER 5.4.8.1 fullwidth mode -->
                                            <div id="rev_slider_7_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8.1">
                                                <ul>
                                                    <% spaDetail.intros.forEach((value,key) => {%>

                                                        <!-- SLIDE  -->
                                                        <li data-index="rs-<%=key%>" data-transition="fadethroughlight" data-slotamount="default" data-hideafterloop="0" data-x="['center','center','center','center']" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
                                                            data-thumb="<%=urlMediaUpload.imageObj(value.image)%>" data-rotate="0" data-saveperformance="off" data-title="Spa Salon" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5=""
                                                            data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                                            <!-- MAIN IMAGE -->
                                                            <img src="<%=urlMediaUpload.imageObj(value.image)%>" alt="" title="parallax-8" width="1000" height="1336" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                                                            <!-- LAYERS -->

                                                            <!-- LAYER NR. 1 -->
                                                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-tobggroup" id="slide-<%=key%>-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":150,"speed":1500,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power2.easeInOut"}]'
                                                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(114,116,117,0.30);background:linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 10%,rgba(101,100,96,0.65) 100%);">
                                                            </div>

                                                            <!-- LAYER NR. 2 -->
                                                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-<%=key%>-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-210','-210','-168','-141']"
                                                                data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;background-color:rgba(255,255,255,1);">
                                                            </div>

                                                            <!-- LAYER NR. 3 -->
                                                            <div class="tp-caption tp-caption-title   tp-resizeme rs-parallaxlevel-2" id="slide-<%=key%>-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-100']"
                                                                data-fontsize="['65','65','50','40']" data-lineheight="['85','85','55','45']" data-height="none" data-whitespace="nowrap" data-visibility="['on','off','off','off']" data-type="text" data-responsive_offset="on"
                                                                data-frames='[{"delay":2350,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 65px; line-height: 85px; font-weight: 700; color: rgba(255,255,255,1);font-family:'Playfair Display';">
                                                                <%- value.title%>
                                                            </div>

                                                            <!-- LAYER NR. 4 -->
                                                            <div class="tp-caption tp-caption-content   tp-resizeme rs-parallaxlevel-1" id="slide-<%=key%>-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
                                                                data-fontsize="['13','13','14','12']" data-lineheight="['16','16','17','15']" data-width="none" data-width="['none','none','none','320']" data-height="none" data-whitespace="nowrap" data-type="text"
                                                                data-responsive_offset="on" data-frames='[{"delay":2550,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: unset; font-size: 13px; line-height: 13px; font-weight: 400; color: rgba(255,255,255,1);font-family:'Open Sans';letter-spacing:3px;">
                                                                <%- truncate(value.content,200)%>

                                                            </div>


                                                            <!-- LAYER NR. 6 -->
                                                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-<%=key%>-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['210','210','119','100']"
                                                                data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":3150,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10;background-color:rgba(255,255,255,1);">
                                                            </div>
                                                        </li>
                                                        <%}); %>

                                                </ul>
                                                <script>
                                                    var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
                                                    var htmlDivCss = "";
                                                    if (htmlDiv) {
                                                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                                    } else {
                                                        var htmlDiv = document.createElement("div");
                                                        htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                                        document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                                                    }
                                                </script>
                                                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                                            </div>
                                            <script>
                                                var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
                                                var htmlDivCss = "";
                                                if (htmlDiv) {
                                                    htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                                } else {
                                                    var htmlDiv = document.createElement("div");
                                                    htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                                    document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                                                }
                                            </script>
                                            <script type="text/javascript">
                                                if (setREVStartSize !== undefined) setREVStartSize({
                                                    c: '#rev_slider_7_1',
                                                    responsiveLevels: [1240, 1024, 778, 480],
                                                    gridwidth: [1240, 1024, 778, 480],
                                                    gridheight: [700, 768, 960, 720],
                                                    sliderLayout: 'fullwidth'
                                                });

                                                var revapi7,
                                                    tpj;
                                                (function() {
                                                    if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad);
                                                    else onLoad();

                                                    function onLoad() {
                                                        if (tpj === undefined) {
                                                            tpj = jQuery;
                                                            if ("off" == "on") tpj.noConflict();
                                                        }
                                                        if (tpj("#rev_slider_7_1").revolution == undefined) {
                                                            revslider_showDoubleJqueryError("#rev_slider_7_1");
                                                        } else {
                                                            revapi7 = tpj("#rev_slider_7_1").show().revolution({
                                                                sliderType: "standard",
                                                                jsFileLocation: "//www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/wp-content/plugins/revslider/public/assets/js/",
                                                                sliderLayout: "fullwidth",
                                                                dottedOverlay: "none",
                                                                delay: 9000,
                                                                navigation: {
                                                                    keyboardNavigation: "off",
                                                                    keyboard_direction: "horizontal",
                                                                    mouseScrollNavigation: "off",
                                                                    mouseScrollReverse: "default",
                                                                    onHoverStop: "off",
                                                                    touch: {
                                                                        touchenabled: "on",
                                                                        touchOnDesktop: "off",
                                                                        swipe_threshold: 75,
                                                                        swipe_min_touches: 50,
                                                                        swipe_direction: "horizontal",
                                                                        drag_block_vertical: false
                                                                    },
                                                                    arrows: {
                                                                        style: "uranus",
                                                                        enable: true,
                                                                        hide_onmobile: true,
                                                                        hide_under: 490,
                                                                        hide_onleave: false,
                                                                        tmp: '',
                                                                        left: {
                                                                            h_align: "left",
                                                                            v_align: "center",
                                                                            h_offset: 20,
                                                                            v_offset: 0
                                                                        },
                                                                        right: {
                                                                            h_align: "right",
                                                                            v_align: "center",
                                                                            h_offset: 20,
                                                                            v_offset: 0
                                                                        }
                                                                    }
                                                                },
                                                                responsiveLevels: [1240, 1024, 778, 480],
                                                                visibilityLevels: [1240, 1024, 778, 480],
                                                                gridwidth: [1240, 1024, 778, 480],
                                                                gridheight: [700, 768, 960, 720],
                                                                lazyType: "none",
                                                                scrolleffect: {
                                                                    blur: "on",
                                                                    maxblur: "5",
                                                                    on_slidebg: "on",
                                                                },
                                                                parallax: {
                                                                    type: "3D",
                                                                    origo: "slidercenter",
                                                                    speed: 1000,
                                                                    speedbg: 0,
                                                                    speedls: 0,
                                                                    levels: [2, 4, 6, 8, 10, 12, 14, 16, 45, 50, 47, 48, 49, 50, 0, 50],
                                                                    ddd_shadow: "off",
                                                                    ddd_bgfreeze: "on",
                                                                    ddd_overflow: "hidden",
                                                                    ddd_layer_overflow: "visible",
                                                                    ddd_z_correction: 100,
                                                                },
                                                                spinner: "off",
                                                                stopLoop: "on",
                                                                stopAfterLoops: 0,
                                                                stopAtSlide: 1,
                                                                shuffle: "off",
                                                                autoHeight: "off",
                                                                disableProgressBar: "on",
                                                                hideThumbsOnMobile: "off",
                                                                hideSliderAtLimit: 0,
                                                                hideCaptionAtLimit: 0,
                                                                hideAllCaptionAtLilmit: 0,
                                                                debugMode: false,
                                                                fallbacks: {
                                                                    simplifyAll: "off",
                                                                    nextSlideOnWindowFocus: "off",
                                                                    disableFocusListener: false,
                                                                }
                                                            });
                                                        }; /* END OF revapi call */

                                                    }; /* END OF ON LOAD FUNCTION */
                                                }()); /* END OF WRAPPING FUNCTION */
                                            </script>
                                            <script>
                                                var htmlDivCss = unescape("%23rev_slider_7_1%20.uranus.tparrows%20%7B%0A%20%20width%3A50px%3B%0A%20%20height%3A50px%3B%0A%20%20background%3Argba%28255%2C255%2C255%2C0%29%3B%0A%20%7D%0A%20%23rev_slider_7_1%20.uranus.tparrows%3Abefore%20%7B%0A%20width%3A50px%3B%0A%20height%3A50px%3B%0A%20line-height%3A50px%3B%0A%20font-size%3A40px%3B%0A%20transition%3Aall%200.3s%3B%0A-webkit-transition%3Aall%200.3s%3B%0A%20%7D%0A%20%0A%20%20%23rev_slider_7_1%20.uranus.tparrows%3Ahover%3Abefore%20%7B%0A%20%20%20%20opacity%3A0.75%3B%0A%20%20%7D%0A");
                                                var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                                                if (htmlDiv) {
                                                    htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                                } else {
                                                    var htmlDiv = document.createElement('div');
                                                    htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                                                    document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                                                }
                                            </script>
                                        </div>
                                        <!-- END REVOLUTION SLIDER -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- about  -->
                    <div class="vc_row wpb_row vc_row-fluid py-5">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-6">
                                <img src="<%=urlMediaUpload.imageObj(spaDetail.imgs[0])%>" class="w-100" alt="">
                            </div>
                            <div class="col-12 col-md-8 col-lg-6">
                                <%- spaDetail.description %>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="nd_options_page_header_img_layout_3" class="nd_options_section nd_options_background_size_cover nd_options_background_position_center_bottom" style="background:#a5cfd5">

                <div class="nd_options_section nd_options_bg_greydark_alpha_2">
                    <!--start nd_options_container-->
                    <div class="nd_options_container nd_options_clearfix nd_options_text_align_center">

                        <div class="nd_options_section nd_options_box_sizing_border_box py-5">

                            <h1 class="pb-5 nd_options_color_white nd_options_font_size_50 nd_options_font_size_40_all_iphone nd_options_line_height_40_all_iphone nd_options_first_font"><strong>OUR SERVICES</strong></h1>

                            <div class="row">
                                <% spaDetail.services.forEach(item=>{ %>
                                    <div class="col-md-6 col-lg-4 item-service">
                                        <div class="service-widget mb-4">
                                            <div class="service-image overflow-hidden"> <img src="<%=urlMediaUpload.imageObj( item.image || item.service.image )%>" style="max-height: 200px;" alt="bodymassage"></div>
                                            <div class="service-iconprice">
                                                <div class="ser-icon bg-gradient icon-font-30 color-white"> <i class="flaticon-massage"></i></div>
                                                <div class="ser-price bg-gradient color-white"> <span style="color: #515151;"><%=item.price%></span></div>
                                            </div>
                                            <div class="text-box py-4 px-3">
                                                <h4 class="inner-title text-center text-capitalize color-black">
                                                    <%=item.title || item.service.title%>
                                                </h4>
                                                <div>
                                                    <%-truncate(item.content || item.service.content, 200)%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <% }) %>
                            </div>
                        </div>
                    </div>
                    <!--end container-->
                </div>
            </div>




            <div class="py-5 nd_options_container nd_options_padding_0_15 nd_options_box_sizing_border_box nd_options_clearfix" style="padding-top: 73px;">


                <!--#post-->
                <div style="float:left; width:100%;" id="post-11" class="post-11 page type-page status-publish hentry">
                    <div id="booking" class="vc_row wpb_row vc_row-fluid vc_custom_1485514529636">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <h1 style=" padding:px; text-align:center; font-size:40px; line-height:40px; letter-spacing: px; font-weight:bold;" class="   nd_options_first_font ">t Lch</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-primary alert-booking <%= discount?'':'d-none' %>">
                        <%- discount?discount.title:'' %> <br>
                            <%- discount?discount.content:'' %>
                    </div>

                    <div id="nd_options_section_time_image_contact" class="vc_row wpb_row vc_row-fluid vc_custom_1485446809476 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                            <div class="vc_column-inner vc_custom_1484565697121 mb-0">
                                <div class="wpb_wrapper">
                                    <h5 style="color:#ecbabe; padding:px;  font-size:px; line-height:px; letter-spacing: 3px; font-weight:bold;" class="   nd_options_second_font ">TIME TABLE</h5>
                                    <div style=" height: 10px;" class="nicdark_section  "></div>
                                    <h2 style=" padding-bottom:45px;  font-size:25px; line-height:25px; letter-spacing: px; font-weight:normal;" class="   nd_options_first_font ">Working Hours</h2>

                                    <div class="nd_options_section  nd_options_display_table ">
                                        <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_50_percentage nd_options_text_align_left nd_options_padding_10 nd_options_box_sizing_border_box">
                                            <h6 class=" nd_options_first_font nd_options_margin_0 nd_options_padding_0" style="color:#727475;">MON - FRI :</h6>
                                        </div>
                                        <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_50_percentage nd_options_text_align_right nd_options_padding_10 nd_options_box_sizing_border_box">
                                            <h6 class=" nd_options_second_font nd_options_margin_0 nd_options_padding_0" style="color:#a3a3a3;">
                                                <%= spaDetail.working_hour.start  %> -
                                                    <%= spaDetail.working_hour.end  %>
                                            </h6>
                                        </div>
                                    </div>

                                    <div class="nd_options_section  nd_options_display_table ">
                                        <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_50_percentage nd_options_text_align_left nd_options_padding_10 nd_options_box_sizing_border_box">
                                            <h6 class=" nd_options_first_font nd_options_margin_0 nd_options_padding_0" style="color:#727475;">SUNDAY :</h6>
                                        </div>
                                        <div class="nd_options_display_table_cell nd_options_vertical_align_middle nd_options_width_50_percentage nd_options_text_align_right nd_options_padding_10 nd_options_box_sizing_border_box">
                                            <h6 class=" nd_options_second_font nd_options_margin_0 nd_options_padding_0" style="color:#a3a3a3;">CLOSED</h6>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4 d-none d-lg-block">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper"></div>
                            </div>
                        </div>
                        <div class="nd_options_margin_top_0_first_div_important_responsive wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
                            <div class="vc_column-inner vc_custom_1485513973182">
                                <div class="wpb_wrapper">
                                    <!--start form-->
                                    <div id="nd_options_shortcode_cf7_451" class="nd_options_section ">

                                        <div class="nd_options_section nd_options_box_sizing_border_box">
                                            <div class="screen-reader-response"></div>
                                            <form method="POST">
                                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px; width:50%;"><span class="wpcf7-form-control-wrap name"><input type="text"
															name="name" value="" size="40"
															class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required nd_options_background_transparent_important nd_options_placeholder_color_white_important nd_options_color_white"
															aria-required="true" aria-invalid="false"
                                                            placeholder="Name" /></span></div>
                                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px; width:50%;"><span class="wpcf7-form-control-wrap email"><input type="email"
                                                        name="email" value="" size="40"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email nd_options_background_transparent_important nd_options_placeholder_color_white_important nd_options_color_white"
                                                        aria-required="true" aria-invalid="false"
                                                        placeholder="Email*" /></span></div>
                                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px; width:50%;"><span class="wpcf7-form-control-wrap surname"><input type="text"
															name="phone" value="" size="40"
															class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required nd_options_background_transparent_important nd_options_placeholder_color_white_important nd_options_color_white"
															aria-required="true" aria-invalid="false"
                                                            placeholder="S in thoi*" /></span></div>
                                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px; width:50%;"><span class="wpcf7-form-control-wrap surname"><input type="text"
                                                        name="address" value="" size="40"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required nd_options_background_transparent_important nd_options_placeholder_color_white_important nd_options_color_white"
                                                        aria-required="true" aria-invalid="false"
                                                        placeholder="a ch*" /></span></div>
                                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px; width:100%;"><span class="wpcf7-form-control-wrap message"><textarea 
                                                        cols="40" rows="3" name="note"
                                                        class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required nd_options_background_transparent_important nd_options_placeholder_color_white_important nd_options_color_white"
                                                        aria-required="true" aria-invalid="false"
                                                        placeholder="Ghi ch*"></textarea></span></div>
                                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px; width:50%; ;"><span class="wpcf7-form-control-wrap subject">
                                                        <select class="form-control no-border" id="service" name="spa_service_id" placeholder="Dch v*" style="border-bottom: 1px solid #fff">
                                                            <% spaDetail.services.forEach(item=>{ %>
                                                              <option value="<%=item._id%>"><%=item.title || item.service.title%></option>
                                                            <% }) %>
                                                          </select>
                                                    </span></div>
                                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px; width:50%;"><span class="wpcf7-form-control-wrap surname"><input type="date"
                                                        name="date" value="" size="40"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required nd_options_background_transparent_important nd_options_placeholder_color_white_important nd_options_color_white"
                                                        aria-required="true" aria-invalid="false"
                                                        placeholder="a ch*" /></span></div>
                                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px; width:100%;"><span class="wpcf7-form-control-wrap message"><textarea 
															cols="40" rows="3" name="message"
															class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required nd_options_background_transparent_important nd_options_placeholder_color_white_important nd_options_color_white"
															aria-required="true" aria-invalid="false"
															placeholder="Ni dung*"></textarea></span></div>
                                                <div class="nd_options_float_left nd_options_box_sizing_border_box nd_options_width_100_percentage_all_iphone_important nd_options_padding_0_right_important_all_iphone nd_options_padding_0_left_important_all_iphone " style="padding: 10px; width:100%;"><input type="submit" value="GI" class="wpcf7-form-control wpcf7-submit nd_options_bg_white_important nd_options_color_grey_important nd_options_width_100_percentage" />
                                                </div>
                                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                                            </form>
                                        </div>

                                    </div>
                                    <!--end form-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team  -->

            <div id="nd_options_page_header_img_layout_3" class="nd_options_section nd_options_background_size_cover nd_options_background_position_center_bottom">
                <div class="top-team" style="height: 600px;overflow: hidden; ;background: #000; position: relative;">

                    <div class="img-team" style="height: 100%;opacity: 0.8; background:url('http://www.nicdarkthemes.com/themes/beauty/wp/demo/beauty-salon/wp-content/uploads/sites/2/2017/01/parallax-2.jpg') center center">

                    </div>
                    <div class="title-team" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
                        <h1 class="pb-5 nd_options_color_white nd_options_font_size_50 nd_options_font_size_40_all_iphone nd_options_line_height_40_all_iphone nd_options_first_font"><strong style="color: #fff;">OUR TEAM</strong></h1>
                        <p style="color:#ffffff; padding:px; text-align:center; font-size:13px; line-height:25px; letter-spacing: 3px; font-weight:lighter;" class="   nd_options_second_font ">
                            Third and made a saying stars two. Image stars. All let made subdue, stars fruit blessed were. Lights fowl fruitful.
                        </p>
                    </div>
                </div>

                <div class="nd_options_section" style="margin-top: -100px;">
                    <!--start nd_options_container-->
                    <div class="nd_options_container nd_options_clearfix nd_options_text_align_center">
                        <div class="row">
                            <% spaDetail.members.forEach(item=>{ %>
                                <div class="col-md-6 col-lg-4 col-lg-4 col-xl-3 pb-4">

                                    <!--START team-->
                                    <div class="nd_options_section  nd_options_text_align_center ">

                                        <!--image-->
                                        <div class="nd_options_section" style="height: 300px; width: 100%; overflow: hidden; background: url(<%=urlMediaUpload.imageObj(item.avatar)%>) no-repeat center; background-size: cover;">


                                        </div>
                                        <!--image-->


                                        <div class="nd_options_section nd_options_padding_20 nd_options_box_sizing_border_box">

                                            <h2 class="nd_options_margin_0_important"><strong><%= item.name %></strong></h2>
                                            <div class="nd_options_section nd_options_height_10"></div>
                                            <h6 class="nd_options_color_grey nd_options_font_size_12 nd_options_text_transform_uppercase nd_options_letter_spacing_3 nd_options_second_font nd_options_font_weight_lighter">OWNER</h6>
                                            <div class="nd_options_section nd_options_height_20"></div>
                                            <p class="nd_options_margin_0_important">
                                                <%- item.content %>
                                            </p>
                                            <div class="nd_options_section nd_options_height_20"></div>
                                            <a rel="" target="_self" class="nd_options_margin_0_important nd_options_display_inline_block nd_options_color_grey nd_options_border_1_solid_grey nd_options_first_font nd_options_padding_8_12 nd_options_border_radius_20 nd_options_font_size_13" href="#">CONTACT ME</a>

                                        </div>

                                    </div>
                                    <!--END team-->

                                </div>
                                <% })%>
                        </div>


                    </div>
                </div>
                <!--end container-->
            </div>

        </div>





        <!--insert here your google analytics code-->
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '/template/1/analytics.js', 'ga');

            ga('create', 'UA-49425562-19', 'auto');
            ga('send', 'pageview');
        </script>


        <script type="text/javascript">
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        </script>
        <script type="text/javascript">
            function revslider_showDoubleJqueryError(sliderID) {
                var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
                errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
                errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
                errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
                errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
                jQuery(sliderID).show().html(errorMessage);
            }
        </script>
        <link rel='stylesheet' id='nd_options_magnific_popup_style-css' href='/template/1/wp-content/css/magnific-popup.css' type='text/css' media='all' />
        <script type='text/javascript'>
            /* <![CDATA[ */
            var wpcf7 = {
                "apiSettings": {
                    "root": "http:\/\/www.nicdarkthemes.com\/themes\/beauty\/wp\/demo\/beauty-salon\/wp-json\/contact-form-7\/v1",
                    "namespace": "contact-form-7\/v1"
                }
            };
            /* ]]> */
        </script>

        <script type="text/javascript" src="/template/1/wp-content/js/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="/template/1/wp-content/js/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="/template/1/wp-content/js/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="/template/1/wp-content/js/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="/template/1/wp-content/js/revolution.extension.parallax.min.js"></script>

        <script type='text/javascript' src='/template/1/wp-content/js/scripts.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/core.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/widget.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/tabs.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-content/js/jquery.ba-bbq.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-content/js/jquery.carouFredSel-6.2.1-packed.js'></script>
        <script type='text/javascript' src='/template/1/wp-content/js/timetable.js'></script>
        <script type='text/javascript' src='/template/1/wp-content/js/js.cookie.min.js'></script>

        <script type='text/javascript' src='/template/1/wp-content/js/woocommerce.min.js'></script>

        <script type='text/javascript' src='/template/1/wp-content/js/cart-fragments.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/comment-reply.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/wp-embed.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/mouse.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/resizable.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/draggable.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/button.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/position.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/dialog.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/effect.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/effect-fade.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-content/js/js_composer_front.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-content/js/jquery.magnific-popup.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/imagesloaded.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-includes/js/masonry.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-content/js/skrollr.min.js'></script>
        <script type='text/javascript' src='/template/1/wp-content/js/counter.js'></script>




        <script>
            $(document).ready(function() {
                $('.single-widget').addClass('pt-5')

                let check = `<%- discount %>`;

                if (check.trim() != '') {
                    $('html, body').animate({
                        scrollTop: $('#booking').offset().top
                    }, 2500, function() {
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        // window.location.hash = hash;
                    });
                }
            })
        </script>
        <!-- all jQuary activation code here and always it will be bottom of all script tag -->