<div class="CardItem card" id="<%=item._id%>">
  <div class="card-header">
    <%=item.title || item.service.title%> - <%=item.price || "Chưa báo giá" %>
    <div class="card-actions">
        <a class="" data-action="collapse"><i class="ti-minus"></i></a>
        <a class="btn-close" data-action="" data-type="services" data-id="<%=item._id%>"><i class="ti-close"></i></a>
    </div>
  </div>
  <div class="card-body collapse hide">
    <div class="row">
      <div class="col-md-12">
          <div class="form-group">
              <label>Chọn một dịch vụ trong hệ thống</label>
              <select class="form-control custom-select" name="service-select" key="${key}">
                <option value='0'>Đề xuất dịch vụ mới</option>
                <% services.forEach(service=>{ %>
                  <option value="<%=service._id%>" <%=service._id==''+item.service_id?'selected':''%>><%=service.title%> <%=(service.spa_id_recommend)?" - Dịch vụ bạn đề xuất (Đang xử lý)":""  %></option>
                <% }) %>
              </select>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="form-group">
              <label>Tiêu đề</label>
              <input type="text" class="form-control" name='title' value="<%=item.title || item.service.title%>"> 
          </div>
        </div>
        <div class="col-md-12 ">
          <div class="form-group form-group-content ">
              <labelclass="control-label">Nội dung</label>
              <textarea class="summernote" style="z-index: 1;" name="content"><%=item.content || item.service.content%></textarea>
              <small class="form-control-feedback"></small>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
              <label>Hình ảnh</label>
              <input type="file" class="ImageUpload form-control" name='image' id="<%=item._id%>"> 
              <img class="avatar-100" src="<%=urlMediaUpload.imageObj(item.image || item.service.image)%>" />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
              <label>Giá</label>
              <input type="text" class="form-control" name='price' required value="<%=item.price%>"> 
          </div>
        </div>
    </div>
  </div>
</div>