<% extend('../layouts/base', {
  title: "Dashboard"
}) %>
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
      <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">Dashboard</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">Dashboard</li>
              </ol>
              <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Info box -->
  <!-- ============================================================== -->
  <!-- Row -->
  <div class="row">

     <% if(userLocal.permissions.includes('user.index')){ %>
      <!-- Column -->
      <div class="col-lg-3 col-md-6" >
          <div class="card" data-toggle="tooltip" title="<%= numOfUserPending %> Users Pending" >
              <div class="card-body" >
                  <div class="d-flex flex-row">
                      <div class="round align-self-center round-success"><i class="icon-people"></i></div>
                      <div class="m-l-10 align-self-center">
                          <a href="/admin/users"><h3 class="m-b-0"><%=numOfUser%> users</h3></a>
                          <h5 class="text-muted m-b-0"><%=numOfUserActive%> users active</h5></div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->
      <% } %>

      <% if(userLocal.permissions.includes('spa.index')){ %>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex flex-row" data-toggle="tooltip" title="<%= numOfSpaPending %> Spas Pending" >
                      <div class="round align-self-center round-info"><i class="icon-diamond"></i></div>
                      <div class="m-l-10 align-self-center">
                        <a href="/admin/spas"><h3 class="m-b-0"><%=numOfSpa%> spas</h3></a>
                        <h5 class="text-muted m-b-0"><%=numOfSpaActive%> spas active</h5></div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->
      <% } %>

      <% if(userLocal.permissions.includes('service.index')){ %>
      <!-- Column -->
        <div class="col-lg-3 col-md-6">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex flex-row" data-toggle="tooltip" title="<%= numOfServicePending %> Services Pending" >
                      <div class="round align-self-center round-warning"><i class="icon-social-dropbox"></i></div>
                      <div class="m-l-10 align-self-center">
                        <a href="/admin/services"><h3 class="m-b-0"><%=numOfService%> services</h3></a>
                        <h5 class="text-muted m-b-0"><%=numOfServiceActive%> services active</h5></div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->
      <% } %>

      <% if(userLocal.permissions.includes('booking.index')){ %>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex flex-row"  data-toggle="tooltip" title="<%= numOfBookingPending %> Bookings Pending">
                      <div class="round align-self-center round-danger"><i class=" fas fa-building"></i></div>
                      <div class="m-l-10 align-self-center">
                        <a href="/admin/booking"><h3 class="m-b-0"><%=numOfBooking%> Booking</h3></a>
                        <h5 class="text-muted m-b-0"><%=numOfBookingActive%> Booking active</h5></div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Column -->
      <% } %>

      <% if(userLocal.permissions.includes('news.index')){ %>
       <!-- Column -->
       <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row"  data-toggle="tooltip" title="<%= numOfNewsPending %> News Pending">
                    <div class="round align-self-center round-primary"><i class="icon-feed"></i></div>
                    <div class="m-l-10 align-self-center">
                      <a href="/admin/news"><h3 class="m-b-0"><%=numOfNews%> News</h3></a>
                      <h5 class="text-muted m-b-0"><%=numOfNewsActive%> News active</h5></div>
                </div>
            </div>
        </div>
      </div>
      <!-- Column -->
      <% } %>

      <% if(userLocal.permissions.includes('staticpage.index')){ %>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row"  data-toggle="tooltip" title="<%= numOfStaticpagePending %> Staticpages Pending">
                    <div class="round align-self-center round-success"><i class="icon-layers"></i></div>
                    <div class="m-l-10 align-self-center">
                      <a href="/admin/static-pages"><h3 class="m-b-0"><%=numOfStaticpage%> Staticpage</h3></a>
                      <h5 class="text-muted m-b-0"><%=numOfStaticpageActive%> Staticpage active</h5></div>
                </div>
            </div>
        </div>
      </div>
      <!-- Column -->
      <% } %>

      <% if(userLocal.permissions.includes('qa.index')){ %>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row"  data-toggle="tooltip" title="<%= numOfQAPending %> Q&A Pending">
                    <div class="round align-self-center round-normal"><i class="icon-info"></i></div>
                    <div class="m-l-10 align-self-center">
                      <a href="/admin/q-a"><h3 class="m-b-0"><%=numOfQA%> Q&A</h3></a>
                      <h5 class="text-muted m-b-0"><%=numOfQAActive%> Q&A active</h5></div>
                </div>
            </div>
        </div>
      </div>
      <!-- Column -->
      <% } %>


  </div>
  <!-- Row -->
  <!-- ============================================================== -->
  <!-- End Info box -->
  <!-- ============================================================== -->
 
  <!-- ============================================================== -->
  <!-- End Page Content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right sidebar -->
  <!-- ============================================================== -->
  <!-- .right-sidebar -->
  <div class="right-sidebar">
      <div class="slimscrollright">
          <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
          <div class="r-panel-body">
              <ul id="themecolors" class="m-t-20">
                  <li><b>With Light sidebar</b></li>
                  <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
                  <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                  <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                  <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                  <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                  <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                  <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                  <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme working">7</a></li>
                  <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                  <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                  <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                  <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                  <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
              </ul>
              <ul class="m-t-20 chatonline">
                  <li><b>Chat option</b></li>
                  <li>
                      <a href="javascript:void(0)"><img src="libs/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><img src="libs/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><img src="libs/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><img src="libs/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><img src="libs/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><img src="libs/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><img src="libs/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><img src="libs/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Right sidebar -->
  <!-- ============================================================== -->
</div>