<% extend('../layouts/base',{
  title: "Homepage",
}) %>

 <!-- ======================================= 
        ==End Header section==  
    =======================================-->

    
  <!-- ======================================= 
      ==End Product gallery section== 
  =======================================-->
  
    <!-- ======================================= 
            ==start Seassion booking section== 
    =======================================-->
    <section class="home-booking">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="booking-wrapper mt-45">
                      <form action="/tim-kiem" method="get" class="clearfix">
                          <div class="beauty-service clearfix">
                              <select class="wide" name="location" required>
                                <% locationsArr.forEach(item=>{ %>
                                  <option value="<%=item.value%>"><%=item.name%></option>
                                <% }) %>
                            </select>
                          </div>

                          <div class="date">
                              <input type="" name="date" id="booking-date" placeholder="Ngày đặt" required />
                          </div>

                          <div class="seat">
                              <input type="number" id="seat" name="seat" min="1" max="50" placeholder="Số lượng">
                          </div>

                          <button type="submit">Tìm  kiếm</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ======================================= 
        ==End Seassion booking section== 
=======================================-->

  <!-- ======================================= 
      ==Start recommendation Section==  
  =======================================-->
  <section class="product-carousel-section experts-section">
      <div class="container">
          <div class="row mb-3">
              <div class="col-md-12">
                  <div class="text-left">
                      <h3 class="color-72 fw-500 pb-10">Danh mục spa</h3>
                  </div>
                  <p>Các spa được phân loại tại đây</p>

              </div>
          </div>

          <ul class="tab-menu nav nav-tabs mb-4 position-relative" role="tablist">
              <% services.forEach((item, index)=>{ %>
                <li class="nav-item"><a class="nav-link <%=index===0?'active':''%>" href="#service<%=item._id%>" aria-controls="service<%=item._id%>" role="tab" data-toggle="tab" aria-selected="true"><%=item.title%></a></li>
              <% }) %>
            
              <li class="view-more position-absolute"><a href="">Xem thêm</a></li>
          </ul>
          <div class="tab-content" id="myTabContent">

              <% services.forEach((item, index)=>{ %>
                <div class="tab-pane fade show <%=index===0?'active':''%>" id="service<%=item._id%>" role="tabpanel" aria-labelledby="<%=item._id%>-tab">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="product-carousel-wrapper owl-carousel" id="experts-carousel">
                              <div class="row">

                                  <% item.spaservice.forEach((spaservice, index)=>{ %>
                                    <div class="single-carousel col-md-4">
                                        <img src="<%=urlMediaUpload.imageObj(spaservice.spa.logo)%>" style="max-height: 200px;" alt="experts person" class="img-fluid">
                                        <div class="expert-hover text-center">
                                            <a href="/spa/<%=spaservice.spa.slug%>"><h6 class="name fw-700 color-ff"><%=spaservice.spa.name%></h6></a>
                                            <span class="degignation"><%-spaservice.spa.address%></span>
                                            <!--<p class="color-ff ptb-20">Most designers set their </p>-->
                                        </div>
                                        <div class="social-contact">
                                            <a href="#" title="<%=spaservice.spa.email%>" target="_blank"><i class="fa fa-envelope-o"></i></a>
                                            <a href="#" title="<%=spaservice.spa.phone%>" target="_blank"><i class="fa fa-phone"></i></a>
                                            <a href="#" title="<%=spaservice.spa.facebook%>" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                        </div>
                                    </div>
                                  <% }) %>

                                  <% if(item.spaservice.length===0){ %>
                                    <div>Không có dữ liệu</div>
                                  <% } %>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <% }) %>

          </div>

      </div>
  </section>
  <!-- ======================================= 
    ==End recommendation section== 
=======================================-->


    <!-- ======================================= 
            ==Start Testimonial section==  
    =======================================-->
    <section class="testimonial-section beautyLab-gallery">
      <div class="overlay"></div>
      <div class="container">
          <div class="row">
              <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-8 offset-md-2">
                  <div class="section-title pb-60 text-center">
                      <h3 class="color-ff fw-500">Đội ngũ chuyên gia giàu kinh nghiệm</h3>
                  </div>

                  <div class="testimoial-wrapper owl-carousel">
                      <!--testimonial-1-->
                      <div class="single-testimonial text-center">
                          <a href="#"><img src="/images/author3.jpg" alt="author"></a>
                          <p class="testimoinal-txt color-ff pt-25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                          <p class="author color-ff">Thomas Jefferson<span>CEO of TF</span></p>
                      </div>

                      <!--testimonial-2-->
                      <div class="single-testimonial text-center">
                          <a href="#"><img src="/images/author1.jpg" alt="author"></a>
                          <p class="testimoinal-txt color-ff pt-25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                          <p class="author color-ff">Thomas Jefferson<span>CEO of TF</span></p>
                      </div>

                      <!--testimonial-3-->
                      <div class="single-testimonial text-center">
                          <a href="#"><img src="/images/author2.jpg" alt="author"></a>
                          <p class="testimoinal-txt color-ff pt-25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                          <p class="author color-ff">Thomas Jefferson<span>CEO of TF</span></p>
                      </div>
                      <!--/testimonial-->
                  </div>
                  <!--/testimoial wrapper-->
              </div>
              <!--/col-->
          </div>


          <div class="row gallery-wrapper mt-5">

            <!--gallery-1-->
            <div class="col-lg-4 col-md-6  mix interiors">
                <div class="single-gallery">
                    <img src="/images/beauty-galleryImg1.jpg" alt="gallery image" class="img-fluid" />
                    <div class="single-gallery-overlay text-center">
                        <h6><a href="#" class="color-ff fw-500">Beauty Treatment</a></h6>
                        <div class="divider mt-15 mb-10"></div>
                        <p class="color-ff">Most designers set their type arbitrarily, either by pulling values</p>
                    </div>
                </div>
            </div>

            <!--gallery-2-->
            <div class="col-lg-4 col-md-6  mix treatment">
                <div class="single-gallery">
                    <img src="/images/beauty-galleryImg2.jpg" alt="gallery image" class="img-fluid" />
                    <div class="single-gallery-overlay text-center">
                        <h6><a href="#" class="color-ff fw-500">Beauty Treatment</a></h6>
                        <div class="divider mt-15 mb-10"></div>
                        <p class="color-ff">Most designers set their type arbitrarily, either by pulling values</p>
                    </div>
                </div>
            </div>

            <!--gallery-3-->
            <div class="col-lg-4 col-md-6  mix interiors">
                <div class="single-gallery">
                    <img src="/images/beauty-galleryImg3.jpg" alt="gallery image" class="img-fluid" />
                    <div class="single-gallery-overlay text-center">
                        <h6><a href="#" class="color-ff fw-500">Beauty Treatment</a></h6>
                        <div class="divider mt-15 mb-10"></div>
                        <p class="color-ff">Most designers set their type arbitrarily, either by pulling values</p>
                    </div>
                </div>
            </div>

            <!--gallery-4-->
            <div class="col-lg-4 col-md-6  mix treatment">
                <div class="single-gallery">
                    <img src="/images/beauty-galleryImg4.jpg" alt="gallery image" class="img-fluid" />
                    <div class="single-gallery-overlay text-center">
                        <h6><a href="#" class="color-ff fw-500">Beauty Treatment</a></h6>
                        <div class="divider mt-15 mb-10"></div>
                        <p class="color-ff">Most designers set their type arbitrarily, either by pulling values</p>
                    </div>
                </div>
            </div>

            <!--gallery-5-->
            <div class="col-lg-4 col-md-6  mix interiors">
                <div class="single-gallery">
                    <img src="/images/beauty-galleryImg5.jpg" alt="gallery image" class="img-fluid" />
                    <div class="single-gallery-overlay text-center">
                        <h6><a href="#" class="color-ff fw-500">Beauty Treatment</a></h6>
                        <div class="divider mt-15 mb-10"></div>
                        <p class="color-ff">Most designers set their type arbitrarily, either by pulling values</p>
                    </div>
                </div>
            </div>

            <!--gallery-6-->
            <div class="col-lg-4 col-md-6  mix treatment">
                <div class="single-gallery">
                    <img src="/images/beauty-galleryImg6.jpg" alt="gallery image" class="img-fluid" />
                    <div class="single-gallery-overlay text-center">
                        <h6><a href="#" class="color-ff fw-500">Beauty Treatment</a></h6>
                        <div class="divider mt-15 mb-10"></div>
                        <p class="color-ff">Most designers set their type arbitrarily, either by pulling values</p>
                    </div>
                </div>
            </div>
            <!--/col-->

             <!--gallery-4-->
             <div class="col-lg-4 col-md-6  mix treatment">
              <div class="single-gallery">
                  <img src="/images/beauty-galleryImg4.jpg" alt="gallery image" class="img-fluid" />
                  <div class="single-gallery-overlay text-center">
                      <h6><a href="#" class="color-ff fw-500">Beauty Treatment</a></h6>
                      <div class="divider mt-15 mb-10"></div>
                      <p class="color-ff">Most designers set their type arbitrarily, either by pulling values</p>
                  </div>
              </div>
          </div>

          <!--gallery-5-->
          <div class="col-lg-4 col-md-6  mix interiors">
              <div class="single-gallery">
                  <img src="/images/beauty-galleryImg5.jpg" alt="gallery image" class="img-fluid" />
                  <div class="single-gallery-overlay text-center">
                      <h6><a href="#" class="color-ff fw-500">Beauty Treatment</a></h6>
                      <div class="divider mt-15 mb-10"></div>
                      <p class="color-ff">Most designers set their type arbitrarily, either by pulling values</p>
                  </div>
              </div>
          </div>

          <!--gallery-6-->
          <div class="col-lg-4 col-md-6  mix treatment">
              <div class="single-gallery">
                  <img src="/images/beauty-galleryImg6.jpg" alt="gallery image" class="img-fluid" />
                  <div class="single-gallery-overlay text-center">
                      <h6><a href="#" class="color-ff fw-500">Beauty Treatment</a></h6>
                      <div class="divider mt-15 mb-10"></div>
                      <p class="color-ff">Most designers set their type arbitrarily, either by pulling values</p>
                  </div>
              </div>
          </div>
          <!--/col-->
        </div>
        <!--/row-->

      </div>
  </section>
  <!-- ======================================= 
          ==End Testimonial section== 
  =======================================-->

    <!-- ======================================= 
            ==Start Offer Section== 
    =======================================-->
    <section class="service-section">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="section-title text-center">
                      <h3 class="color-72 fw-500 pb-10">Giảm giá trong tuần</h3>
                  </div>
              </div>
              <!--/col-->
          </div>
          <!--/row-->

          <div class="row">
              <!--service-1-->
              <div class="col-lg-4 col-md-6">
                  <div class="single-service">
                      <div class="img"><img src="/images/service-img1.jpg" alt="service-img" class="img-fluid"></div>
                      <div class="img-over-content text-center">
                          <i class="flaticon-medical color-d5 mb-10"></i>
                          <div class="divider"></div>
                          <a href="service-details.html" class="fw-500 color-33 mtb-15">Beauty Treatment</a>
                          <p>Khuyến mại hot nhất tuần này</p>
                      </div>
                  </div>
              </div>

              <!--service-2-->
              <div class="col-lg-4 col-md-6">
                  <div class="single-service">
                      <div class="img"><img src="/images/service-img2.jpg" alt="service-img" class="img-fluid"></div>
                      <div class="img-over-content text-center">
                          <i class="flaticon-spa color-d5 mb-10"></i>
                          <div class="divider"></div>
                          <a href="service-details.html" class="fw-500 color-33 mtb-15">Spa Process</a>
                          <p>Sale lớn, giảm đến 50%</p>
                      </div>
                  </div>
              </div>

              <!--service-3-->
              <div class="col-lg-4 col-md-6">
                  <div class="single-service">
                      <div class="img"><img src="/images/service-img3.jpg" alt="service-img" class="img-fluid"></div>
                      <div class="img-over-content text-center">
                          <i class="flaticon-medical-1 color-d5 mb-10"></i>
                          <div class="divider"></div>
                          <a href="service-details.html" class="fw-500 color-33 mtb-15">Body Massage</a>
                          <p>Massage nay chỉ còn 450K</p>
                      </div>
                  </div>
              </div>

              <!--service-4-->
              <div class="col-lg-4 col-md-6">
                  <div class="single-service">
                      <div class="img"><img src="/images/service-img4.jpg" alt="service-img" class="img-fluid"></div>
                      <div class="img-over-content text-center">
                          <i class="flaticon-hairdryer color-d5 mb-10"></i>
                          <div class="divider"></div>
                          <a href="service-details.html" class="fw-500 color-33 mtb-15">Hair Treatment</a>
                          <p>Khuyến mại hot nhất tuần này</p>
                      </div>
                  </div>
              </div>

              <!--service-5-->
              <div class="col-lg-4 col-md-6">
                  <div class="single-service">
                      <div class="img"><img src="/images/service-img5.jpg" alt="service-img" class="img-fluid"></div>
                      <div class="img-over-content text-center">
                          <i class="flaticon-hand-wash color-d5 mb-10"></i>
                          <div class="divider"></div>
                          <a href="service-details.html" class="fw-500 color-33 mtb-15">Manicure & Pedicure</a>
                          <p>Khuyến mại hot nhất tuần này</p>
                      </div>
                  </div>
              </div>

              <!--service-6-->
              <div class="col-lg-4 col-md-6">
                  <div class="single-service">
                      <div class="img"><img src="/images/service-img6.jpg" alt="service-img" class="img-fluid"></div>
                      <div class="img-over-content text-center">
                          <i class="flaticon-relax color-d5 mb-10"></i>
                          <div class="divider"></div>
                          <a href="service-details.html" class="fw-500 color-33 mtb-15">Body Waxing</a>
                          <p>Khuyến mại hot nhất tuần này</p>
                      </div>
                  </div>
              </div>
              <!--/col-->
          </div>
          <!--/row-->
      </div>
  </section>
  <!-- ======================================= 
          ==End Offer Section== 
  =======================================-->

  <!-- ======================================= 
          ==Start Blog section==  
  =======================================-->
  <section class="blog-section blog-page">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">

                  <div class="row">
                      <!--blog 2-->
                      <% data.docs.forEach(function(item) { %>
                      <div class="col-md-3">
                          <div class="single-blog">
                              <div class="blog-img pos-relative">
                                  <div class="img-area">
                                      <a href="/tin-tuc/<%=item.slug%>"><img src="<%=urlMediaUpload.imageObj(item.image)%>" style="height: 200px;" alt="blog img" class="img-fluid"></a>
                                  </div>
                                  <ul class="brand">
                                      <li><i class="fa fa-heart"></i>18</li>
                                      <li><i class="fa fa-eye"></i><%=item.numOfViews%></li>
                                      <!-- <li><i class="fa fa-folder-open"></i>Spa Tips</li>ontent -->
                                      <li class="gallery"><i class="fa fa-picture-o"></i></li>
                                  </ul>
                                  <div class="date">
                                      <h5 class="fw-700 color-ff"><%=moment(item.date).format('DD')%></h5>
                                      <span class="fw-500 roboto color-ff ">Tháng <%=moment(item.date).format('MM')%></span>
                                  </div>
                              </div>
                              <div class="blog-content">
                                  <a href="/tin-tuc/<%=item.slug%>" class="title fw-500 pt-20"><%=item.name%></a>
                                  <div  ><%-truncate(item.content, 100)%></div>
                                  <a href="/tin-tuc/<%=item.slug%>" class="readmore" title="Xem thêm" target="-blank">Xem thêm <i class="fa fa-angle-right"></i></a>
                              </div>
                          </div>
                      </div>
                      <% }) %>
                      <!--blog 3-->
                     
                     
                      <!--/col-->
                  </div>
                  <!--/row-->

                  <div class="row">
                      <div class="col-12">
                        <%-genHtmlPaginationClient%>
                      </div>
                  </div>
                  <!--/row-->
              </div>
              <!--/col-->

              <!--/col-->
          </div>
          <!--/row-->
      </div>
  </section>
  <!-- ======================================= 
        ==End blog section== 
=======================================-->

  <!-- ======================================= 
          ==Start price list section==  
  =======================================-->
  <section class="priceing-section">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="section-title pb-60 text-center">
                      <h3 class="color-72 fw-500 pb-10">Báo giá</h3>
                      <p>Thông tin báo giá tại đây</p>
                  </div>

                  <div class="price-list-tab">
                      <!-- Nav tabs -->
                      <ul class="tab-menu nav nav-tabs" role="tablist">
                          <li class="nav-item"><a class="nav-link" href="#beautyTreatment" aria-controls="beautyTreatment" role="tab" data-toggle="tab" aria-selected="true">Chăm sóc sắc đẹp</a></li>
                          <li class="nav-item"><a class="nav-link" href="#makeUp" aria-controls="makeUp" role="tab" data-toggle="tab" aria-selected="false">Make-up</a></li>
                          <li class="nav-item"><a class="nav-link active" href="#spaTherapy" aria-controls="spaTherapy" role="tab" data-toggle="tab" aria-selected="false">Spa trị liệu</a></li>
                          <li class="nav-item"><a class="nav-link" href="#hairTreatment" aria-controls="hairTreatment" role="tab" data-toggle="tab" aria-selected="false">Tóc trị liệu</a></li>
                          <li class="nav-item"><a class="nav-link" href="#specialOffers" aria-controls="specialOffers" role="tab" data-toggle="tab" aria-selected="false">Dịch vụ đặc biệt</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                          <!-- tab-pannel 1 -->
                          <div role="tabpanel" class="tab-pane fade clearfix" id="beautyTreatment">
                              <div class="single-price-list stone-therapy float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Spa trị liệu 1</a><span>$1</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list massage-therapie float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Spa trị liệu 2</a> <span>$65</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list body-bassage float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Spa trị liệu 3</a> <span>$85</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list pedicure-manicure float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Spa trị liệu 4</a> <span>$32</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                          </div>

                          <!-- tab-pannel 2 -->
                          <div role="tabpanel" class="tab-pane fade clearfix" id="makeUp">
                              <div class="single-price-list stone-therapy float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$101</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list massage-therapie float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$65</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list body-bassage float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$85</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list pedicure-manicure float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$32</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                          </div>

                          <!-- tab-pannel 3 -->
                          <div role="tabpanel" class="tab-pane fade show active clearfix" id="spaTherapy">
                              <div class="single-price-list stone-therapy float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$15</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list body-bassage float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$185</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list massage-therapie float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$65</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list pedicure-manicure float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$32</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                          </div>

                          <!-- tab-pannel 4 -->
                          <div role="tabpanel" class="tab-pane fade clearfix" id="hairTreatment">
                              <div class="single-price-list stone-therapy float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$15</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list massage-therapie float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$605</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list pedicure-manicure float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$32</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list body-bassage float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$850</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                          </div>

                          <!-- tab-pannel 5 -->
                          <div role="tabpanel" class="tab-pane fade clearfix" id="specialOffers">
                              <div class="single-price-list massage-therapie float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$651</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list stone-therapy float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$101295</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list body-bassage float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$845</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                              <div class="single-price-list pedicure-manicure float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$312</span></h6>
                                  <p class="color-51">Đây là một dấu chấm hỏi lớn dành cho hầu hết các tín đồ làm đẹp. Thực tế, nhiều loại kem trị rạn da, kem dưỡng, gel, dầu… dường như không có sản phẩm nào có khả năng phục hồi tối ưu.</p>
                              </div>
                          </div>
                          <!--/tab-pannel-->
                      </div>
                      <a href="#" class="booking-now">Liên hệ ngay</a>
                  </div>
              </div>
          </div>
          <!--/row-->
      </div>
  </section>
  <!-- ======================================= 
        ==End price list section== 
=======================================-->


  <!-- ======================================= 
      ==Start short link section==  
  =======================================-->
  <section class="shortlink-section v2">
      <div class="container">
          <div class="row mb-3">
              <div class="col-12">
                  <div class="text-left">
                      <h3 class="color-72 fw-500 pb-10">Liên kết</h3>
                  </div>
                  <p>Liên kết trang web liên quan</p>
              </div>
          </div>
          <!--/row-->

          <div class="row mb-5">
              <div class="col-md-12">
                  <div class="shortlink-wrapper clearfix">

                      <!--plan-1-->
                      <div class="single-shortlink-plan single-pack text-left float-left">
                          <div class="shortlink-body">
                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>About</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>

                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Book a service</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>
                          </div>
                      </div>

                      <!--plan-2-->
                      <div class="single-shortlink-plan text-left float-left">
                          <div class="shortlink-body">
                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Review your spa</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>
                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Get information from spa</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>
                          </div>
                      </div>

                      <!--plan-3-->
                      <div class="single-shortlink-plan family-pack text-left float-left">
                          <div class="shortlink-body">
                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Entry from 10 pm to 8 pm</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>
                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Body & foot massages</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>
                          </div>
                      </div>
                      <!--/single price plan-->
                  </div>
                  <!--/wrapper-->
              </div>
              <!--/col-->
          </div>
          <!--/row-->
      </div>
  </section>
  <!-- ======================================= 
    ==End pricing plan section== 
=======================================-->

