

<% extend('../layouts/base',{
  title: "Homepage",
  css: `
  <link  href="/scss/home.css" rel="stylesheet">
`,
}) %>

 <!-- ======================================= 
        ==End Header section==  
    =======================================-->

    <!-- ======================================= 
            ==start Seassion booking section== 
    =======================================-->
    <section class="home-booking">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="booking-wrapper mt-45">
                      <form action="#" method="post" class="clearfix">
                          <div class="beauty-service clearfix">
                              <select class="wide" name="beauty-service" required>
                              <option selected>Location</option>
                              <option value="facial">Son Tra</option>
                              <option value="nailCare">Thanh Khe</option>
                              <option value="eyeCare">Lien Chieu</option>
                              <option value="waxing">Ngu Hanh Son</option>
                          </select>
                          </div>

                          <div class="date">
                              <input type="" name="date" id="booking-date" placeholder="Date start" required />
                          </div>

                          <div class="num_sit">
                              <input type="number" id="num_sit" name="num_sit" min="1" max="50" placeholder="Seat number">
                          </div>

                          <button type="submit">Search</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ======================================= 
        ==End Seassion booking section== 
=======================================-->

  <!-- ======================================= 
      ==Start recommendation Section==  
  =======================================-->
  <section class="product-carousel-section experts-section">
      <div class="container">
          <div class="row mb-3">
              <div class="col-md-12">
                  <div class="text-left">
                      <h3 class="color-72 fw-500 pb-10">Recommendation spa</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et.</p>

              </div>
          </div>

          <ul class="tab-menu nav nav-tabs mb-4 position-relative" role="tablist">
              <% categoryLevel1.forEach((item, index)=>{ %>
                <li class="nav-item"><a class="nav-link <%=index===2?'active':''%>" href="#cat<%=item._id%>" aria-controls="cat<%=item._id%>" role="tab" data-toggle="tab" aria-selected="true"><%=item.name%></a></li>
              <% }) %>
            
              <li class="view-more position-absolute"><a href="">View more</a></li>
          </ul>
          <div class="tab-content" id="myTabContent">

              <% categoryLevel1.forEach((item, index)=>{ %>
                <div class="tab-pane fade show <%=index===2?'active':''%>" id="cat<%=item._id%>" role="tabpanel" aria-labelledby="<%=item._id%>-tab">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="product-carousel-wrapper owl-carousel" id="experts-carousel">
                              <div class="row">
                                  <div class="single-carousel col-md-4">
                                      <img src="images/blog<%=Math.floor(Math.random() * (10 - 5) ) + 5; %>.jpg" alt="experts person" class="img-fluid">
                                      <div class="expert-hover text-center">
                                          <h6 class="name fw-700 color-ff">Nivea for men’s sensitive hydro gel the perfect cure.</h6>
                                          <span class="degignation">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</span>
                                          <!--<p class="color-ff ptb-20">Most designers set their </p>-->
                                      </div>
                                      <div class="social-contact">
                                          <a href="#" title="E-Mail" target="_blank"><i class="fa fa-envelope-o"></i></a>
                                          <a href="#" title="Phone" target="_blank"><i class="fa fa-phone"></i></a>
                                          <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                          <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                      </div>
                                  </div>

                                  <div class="single-carousel col-md-4">
                                      <img src="images/blog<%=Math.floor(Math.random() * (10 - 5) ) + 5; %>.jpg" alt="experts person" class="img-fluid">
                                      <div class="expert-hover text-center">
                                          <h6 class="name fw-700 color-ff">Nivea for men’s sensitive hydro gel the perfect cure.</h6>
                                          <span class="degignation">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</span>
                                          <!--<p class="color-ff ptb-20">Most designers set their </p>-->
                                      </div>
                                      <div class="social-contact">
                                          <a href="#" title="E-Mail" target="_blank"><i class="fa fa-envelope-o"></i></a>
                                          <a href="#" title="Phone" target="_blank"><i class="fa fa-phone"></i></a>
                                          <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                          <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                      </div>
                                  </div>
                                  <div class="single-carousel col-md-4">
                                    <img src="images/blog<%=Math.floor(Math.random() * (10 - 5) ) + 5; %>.jpg" alt="experts person" class="img-fluid">
                                    <div class="expert-hover text-center">
                                        <h6 class="name fw-700 color-ff">Nivea for men’s sensitive hydro gel the perfect cure.</h6>
                                        <span class="degignation">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</span>
                                        <!--<p class="color-ff ptb-20">Most designers set their </p>-->
                                    </div>
                                    <div class="social-contact">
                                        <a href="#" title="E-Mail" target="_blank"><i class="fa fa-envelope-o"></i></a>
                                        <a href="#" title="Phone" target="_blank"><i class="fa fa-phone"></i></a>
                                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                  </div>
                                  <div class="single-carousel col-md-4">
                                    <img src="images/blog<%=Math.floor(Math.random() * (10 - 5) ) + 5; %>.jpg" alt="experts person" class="img-fluid">
                                    <div class="expert-hover text-center">
                                        <h6 class="name fw-700 color-ff">Nivea for men’s sensitive hydro gel the perfect cure.</h6>
                                        <span class="degignation">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</span>
                                        <!--<p class="color-ff ptb-20">Most designers set their </p>-->
                                    </div>
                                    <div class="social-contact">
                                        <a href="#" title="E-Mail" target="_blank"><i class="fa fa-envelope-o"></i></a>
                                        <a href="#" title="Phone" target="_blank"><i class="fa fa-phone"></i></a>
                                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </div>
                                  </div>
                              

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <% }) %>

          </div>

      </div>
  </section>
  <!-- ======================================= 
    ==End recommendation section== 
=======================================-->



  <!-- ======================================= 
          ==Start Blog section==  
  =======================================-->
  <section class="blog-section blog-page">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 order-lg-2">

                  <div class="row">
                      <!--blog 2-->
                      <% data.docs.forEach(function(item) { %>
                      <div class="col-md-6">
                          <div class="single-blog">
                              <div class="blog-img pos-relative">
                                  <div class="img-area">
                                      <a href="/news/<%=item.slug%>"><img src="<%=urlMediaUpload.imageObj(item.image)%>"  alt="blog img" class="img-fluid"></a>
                                  </div>
                                  <ul class="brand">
                                      <li><i class="fa fa-heart"></i>18</li>
                                      <li><i class="fa fa-eye"></i><%=item.numOfViews%></li>
                                      <!-- <li><i class="fa fa-folder-open"></i>Spa Tips</li>ontent -->
                                      <li class="gallery"><i class="fa fa-picture-o"></i></li>
                                  </ul>
                                  <div class="date">
                                      <h5 class="fw-700 color-ff"><%=moment(item.date).format('DD')%></h5>
                                      <span class="fw-500 roboto color-ff ">Tháng <%=moment(item.date).format('MM')%></span>
                                  </div>
                              </div>
                              <div class="blog-content">
                                  <a href="/news/<%=item.slug%>" class="title fw-500 pt-20"><%=item.name%></a>
                                  <div class="cut-content" ><%-item.content.substring(0,275)%>...</div>
                                  <a href="/news/<%=item.slug%>" class="readmore" title="Read More for Details" target="-blank">Read More <i class="fa fa-angle-right"></i></a>
                              </div>
                          </div>
                      </div>
                      <% }) %>
                      <!--blog 3-->
                     
                     
                      <!--/col-->
                  </div>
                  <!--/row-->

                  <div class="row">
                      <div class="col-12">
                          <ul class="pagination pt-20">
                              <li>
                                  <a href="#"><i class="fa fa-angle-left"></i></a>
                                  <a href="#" class="current-item">1</a>
                                  <a href="#">2</a>
                                  <a href="#">3</a>
                                  <a href="#">4</a>
                                  <a href="#">5</a>
                                  <a href="#"><i class="fa fa-angle-right"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!--/row-->
              </div>
              <!--/col-->

              <div class="col-lg-4 order-lg-1">
                  <aside class="blog-sidebar">
                      <div class="search-widget single-widget">
                          <form action="#" method="post">
                              <input type="text" name="search" placeholder="Search here..">
                              <button type="submit"><i class="fa fa-search"></i></button>
                          </form>
                      </div>

                      <div class="post-categories single-widget">
                          <h5 class="widget-title fw-500 pos-relative">Post Categories</h5>
                          <ul>
                              <li><a href="#">Professional Makeup</a><span>10</span></li>
                              <li><a href="#">Haircut and Styling</a><span>70</span></li>
                              <li><a href="#">Slim Body Session</a><span>05</span></li>
                              <li><a href="#">Body Massage</a><span>63</span></li>
                              <li><a href="#">Facial Massage</a><span>40</span></li>
                              <li><a href="#">Facial Massage</a><span>54</span></li>
                          </ul>
                      </div>
                      <!--/post categories-->

                      <div class="latest-blog-area single-widget">
                          <h5 class="widget-title fw-500 pos-relative">Latest news</h5>

                          <!--latest post-1-->
                          <div class="single-latest-post">
                              <a href="#"><img src="images/latest-blog.jpg" alt="latest-blog"></a>
                              <ul>
                                  <li>
                                      <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                  </li>
                                  <li><a href="#">Beauty & Skin</a></li>
                                  <li>26 Oct 2018</li>
                              </ul>
                          </div>

                          <!--latest post-2-->
                          <div class="single-latest-post">
                              <a href="#"><img src="images/latest-blog2.jpg" alt="latest-blog"></a>
                              <ul>
                                  <li>
                                      <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                  </li>
                                  <li><a href="#">Beauty & Skin</a></li>
                                  <li>24 Oct 2018</li>
                              </ul>
                          </div>

                          <!--latest post-3-->
                          <div class="single-latest-post">
                              <a href="#"><img src="images/latest-blog3.jpg" alt="latest-blog"></a>
                              <ul>
                                  <li>
                                      <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                  </li>
                                  <li><a href="#">Beauty & Skin</a></li>
                                  <li>20 Oct 2018</li>
                              </ul>
                          </div>
                          <!-- /single latest blog-->
                      </div>
                      <!-- /latest blog area-->


                      <div class="post-categories single-widget">
                          <h5 class="widget-title fw-500 pos-relative">Archives</h5>
                          <ul>
                              <li><a href="#">January-2017</a></li>
                              <li><a href="#">February-2017</a></li>
                              <li><a href="#">March-2017</a></li>
                              <li><a href="#">April-2017</a></li>
                              <li><a href="#">May-2017</a></li>
                              <li><a href="#">June-2017</a></li>
                              <li><a href="#">July-2017</a></li>
                              <li><a href="#">August-2017</a></li>
                              <li><a href="#">September-2017</a></li>
                              <li><a href="#">October-2017</a></li>
                          </ul>
                      </div>
                      <!--/archives-->

                      <div class="instagram-gallery single-widget">
                          <h5 class="widget-title fw-500 pos-relative">Instagram</h5>
                          <a href="#"><img src="images/insta-img/insta-img1.jpg" alt="insta-img" /></a>
                          <a href="#"><img src="images/insta-img/insta-img2.jpg" alt="insta-img" /></a>
                          <a href="#"><img src="images/insta-img/insta-img3.jpg" alt="insta-img" /></a>
                          <a href="#"><img src="images/insta-img/insta-img4.jpg" alt="insta-img" /></a>
                          <a href="#"><img src="images/insta-img/insta-img5.jpg" alt="insta-img" /></a>
                          <a href="#"><img src="images/insta-img/insta-img6.jpg" alt="insta-img" /></a>
                          <a href="#"><img src="images/insta-img/insta-img7.jpg" alt="insta-img" /></a>
                          <a href="#"><img src="images/insta-img/insta-img8.jpg" alt="insta-img" /></a>
                          <a href="#"><img src="images/insta-img/insta-img9.jpg" alt="insta-img" /></a>
                      </div>
                      <!--/instagram gallery-->
                  </aside>
              </div>
              <!--/col-->
          </div>
          <!--/row-->
      </div>
  </section>
  <!-- ======================================= 
        ==End blog section== 
=======================================-->

  <!-- ======================================= 
          ==Start price list section==  
  =======================================-->
  <section class="priceing-section">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="section-title pb-60 text-center">
                      <h3 class="color-72 fw-500 pb-10">Price List</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et.</p>
                  </div>

                  <div class="price-list-tab">
                      <!-- Nav tabs -->
                      <ul class="tab-menu nav nav-tabs" role="tablist">
                          <li class="nav-item"><a class="nav-link" href="#beautyTreatment" aria-controls="beautyTreatment" role="tab" data-toggle="tab" aria-selected="true">Beauty Treatment</a></li>
                          <li class="nav-item"><a class="nav-link" href="#makeUp" aria-controls="makeUp" role="tab" data-toggle="tab" aria-selected="false">Make-up</a></li>
                          <li class="nav-item"><a class="nav-link active" href="#spaTherapy" aria-controls="spaTherapy" role="tab" data-toggle="tab" aria-selected="false">Spa Therapy</a></li>
                          <li class="nav-item"><a class="nav-link" href="#hairTreatment" aria-controls="hairTreatment" role="tab" data-toggle="tab" aria-selected="false">Hair Treatment</a></li>
                          <li class="nav-item"><a class="nav-link" href="#specialOffers" aria-controls="specialOffers" role="tab" data-toggle="tab" aria-selected="false">Special Offers</a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                          <!-- tab-pannel 1 -->
                          <div role="tabpanel" class="tab-pane fade clearfix" id="beautyTreatment">
                              <div class="single-price-list stone-therapy float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$1</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list massage-therapie float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$65</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list body-bassage float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$85</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list pedicure-manicure float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$32</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                          </div>

                          <!-- tab-pannel 2 -->
                          <div role="tabpanel" class="tab-pane fade clearfix" id="makeUp">
                              <div class="single-price-list stone-therapy float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$101</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list massage-therapie float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$65</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list body-bassage float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$85</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list pedicure-manicure float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$32</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                          </div>

                          <!-- tab-pannel 3 -->
                          <div role="tabpanel" class="tab-pane fade show active clearfix" id="spaTherapy">
                              <div class="single-price-list stone-therapy float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$15</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list body-bassage float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$185</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list massage-therapie float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$65</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list pedicure-manicure float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$32</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                          </div>

                          <!-- tab-pannel 4 -->
                          <div role="tabpanel" class="tab-pane fade clearfix" id="hairTreatment">
                              <div class="single-price-list stone-therapy float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$15</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list massage-therapie float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$605</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list pedicure-manicure float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$32</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list body-bassage float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$850</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                          </div>

                          <!-- tab-pannel 5 -->
                          <div role="tabpanel" class="tab-pane fade clearfix" id="specialOffers">
                              <div class="single-price-list massage-therapie float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Massage Therapies</a> <span>$651</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list stone-therapy float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Stone Therapy </a><span>$101295</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list body-bassage float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Body Massage</a> <span>$845</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                              <div class="single-price-list pedicure-manicure float-left">
                                  <h6><a href="#" class="fw-500 pb-10">Pedicure & Manicure</a> <span>$312</span></h6>
                                  <p class="color-51">Most designers set their type arbitrarily, either by pulling values out of the sky or by adhering to a baseline grid.</p>
                              </div>
                          </div>
                          <!--/tab-pannel-->
                      </div>
                      <a href="booking.html" class="booking-now">Book A Session Now</a>
                  </div>
              </div>
          </div>
          <!--/row-->
      </div>
  </section>
  <!-- ======================================= 
        ==End price list section== 
=======================================-->


  <!-- ======================================= 
      ==Start short link section==  
  =======================================-->
  <section class="shortlink-section v2">
      <div class="container">
          <div class="row mb-3">
              <div class="col-12">
                  <div class="text-left">
                      <h3 class="color-72 fw-500 pb-10">Short links</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et.</p>
              </div>
          </div>
          <!--/row-->

          <div class="row mb-5">
              <div class="col-md-12">
                  <div class="shortlink-wrapper clearfix">

                      <!--plan-1-->
                      <div class="single-shortlink-plan single-pack text-left float-left">
                          <div class="shortlink-body">
                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>About</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>

                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Book a service</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>
                          </div>
                      </div>

                      <!--plan-2-->
                      <div class="single-shortlink-plan text-left float-left">
                          <div class="shortlink-body">
                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Review your spa</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>
                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Get information from spa</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>
                          </div>
                      </div>

                      <!--plan-3-->
                      <div class="single-shortlink-plan family-pack text-left float-left">
                          <div class="shortlink-body">
                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Entry from 10 pm to 8 pm</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>
                              <div class="shortlink-content">
                                  <a href='#'>
                                      <h6 class="color-33 fw-500"><i class="fa fa-check color-d5"></i>Body & foot massages</h6>
                                  </a>
                                  <p>Curabitur ac lacus arcu. Sed vehicula lectus auctor viverra. Vehicula.</p>
                              </div>
                          </div>
                      </div>
                      <!--/single price plan-->
                  </div>
                  <!--/wrapper-->
              </div>
              <!--/col-->
          </div>
          <!--/row-->
      </div>
  </section>
  <!-- ======================================= 
    ==End pricing plan section== 
=======================================-->

