<% extend('../layouts/base', { 
    title: "Expert management",
    subTitle: "Index",
    script: `
    
    <script src="/libs/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/libs/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/libs/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    
    <script>
        $(function () {
            // $('#myTable').DataTable();
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
            // responsive table
            $('#config-table').DataTable({
                responsive: true
            });
            $('#user').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
        });

    </script>
  
    <script src="/js/admin/table.js"></script>
    
    ` 
  }) %>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">New</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                    <li class="breadcrumb-item active">New</li>
                </ol>
                <a href="/admin/experts/create"><button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i
                            class="fa fa-plus-circle"></i> Create New</button></a>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">New Table</h4>
                    <h6 class="card-subtitle">New table example</h6>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="myTable_length">
                                <label>Show
                                    <select name="myTable_length" aria-controls="myTable"
                                        class="BtnChangeLimit form-control-sm">
                                        <option value="10" <%=data.limit=='10'?'selected':''%>>10</option>
                                        <option value="25" <%=data.limit=='25'?'selected':''%>>25</option>
                                        <option value="50" <%=data.limit=='50'?'selected':''%>>50</option>
                                        <option value="100" <%=data.limit=='100'?'selected':''%>>100</option>
                                    </select> entries</label>
                            </div>
                            <div>
                                <button ype="button" class="BtnDelete btn btn-secondary font-18" ctl="news"><i
                                        class="mdi mdi-delete"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="myTable_filter_news" class="dataTables_filter">
                                <label>Search:
                                    <input type="search" class="InputSearch form-control-sm" placeholder=""
                                        aria-controls="myTable" value="<%=data.search?data.search:''%>">
                                    <button ype="button" class="BtnSearch btn btn-secondary font-18" ctl="users"><i
                                            class="mdi mdi-magnify"></i></button>
                                </label>

                            </div>
                        </div>
                    </div>

                    <div class="table-responsive m-t-40">
                        <table id="myTable" class="DataTable table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="CheckAll custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="checkbox7"
                                                value="check">
                                            <label class="custom-control-label" for="checkbox7"></label>
                                        </div>
                                    </th>
                                    <th>Slogan</th>
                                    <th>About</th>
                                    <th>Images</th>
                                    <th>Description</th>
                                    <th>User Name</th>
                                    <th>Slug</th>
                                    <th>Tags</th>
                                    <th>Job
                                    <th>
                                        Action
                                </tr>
                            </thead>
                            <tbody>
                                <% data.docs.forEach(function(item) { %>
                                <tr id="Row-<%=item._id%>">
                                    <td>
                                        <div class="CheckRecord custom-control custom-checkbox mr-sm-2">
                                            <input type="checkbox" class="custom-control-input"
                                                id="checkbox<%=item._id%>" value="check" alt="<%=item._id%>">
                                            <label class="custom-control-label" for="checkbox<%=item._id%>"></label>
                                        </div>
                                    </td>
                                    <td style="word-wrap: break-word; max-width: 150px;"><%=truncate(item.slogan, 50)%></td>
                                    <td><%-truncate(item.about, 50)%></td>
                                    <td><img class="avatar" src="<%=urlMediaUpload.imageObj(item.images[0])%>" /></td>
                                    <td style="word-wrap: break-word; max-width: 150px; overflow: hidden;"><%-truncate(item.description, 50)%></td>
                                    <td><a href="/admin/users/<%=item.user._id%>"><%=item.user.first_name%>
                                            <%=item.user.last_name%> </a></td>
                                    <td><%=item.slug%></td>
                                    <td style="word-wrap: break-word; max-width: 150px;"><%=item.tags%></td>
                                    <td><%=item.job%></td>
                                    <td>
                                        <a href="/admin/experts/<%=item._id%>/view">
                                            <i class="ti-eye"></i>
                                        </a>
                                        <a href="/admin/experts/<%=item._id%>/edit">
                                            <i class="icon-note"></i>
                                        </a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <p>Showing <%=data.limit*(data.page-1)+1%> to
                        <%=(data.limit*data.page>data.total)?data.total:data.limit*data.page%> of <%=data.total%>
                        entries</p>
                    <%-genHtmlPagination%>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <div class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span>
            </div>
            <div class="r-panel-body">
                <ul id="themecolors" class="m-t-20">
                    <li><b>With Light sidebar</b></li>
                    <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a>
                    </li>
                    <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                    <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                    <li><a href="javascript:void(0)" data-skin="skin-default-dark"
                            class="default-dark-theme working">7</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a>
                    </li>
                    <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                    <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                </ul>
                <ul class="m-t-20 chatonline">
                    <li><b>Chat option</b></li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img"
                                class="img-circle"> <span>Varun Dhavan <small
                                    class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img"
                                class="img-circle"> <span>Genelia Deshmukh <small
                                    class="text-warning">Away</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img"
                                class="img-circle"> <span>Ritesh Deshmukh <small
                                    class="text-danger">Busy</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img"
                                class="img-circle"> <span>Arijit Sinh <small
                                    class="text-muted">Offline</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img"
                                class="img-circle"> <span>Govinda Star <small
                                    class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img"
                                class="img-circle"> <span>John Abraham<small
                                    class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img"
                                class="img-circle"> <span>Hritik Roshan<small
                                    class="text-success">online</small></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img"
                                class="img-circle"> <span>Pwandeep rajan <small
                                    class="text-success">online</small></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>