<% extend('../layouts/base', { 
  title: "Spa management",
  subTitle: "Landing page",
  css: `
    <link rel="stylesheet" href="/libs/node_modules/dropify/dist/css/dropify.min.css">
    <link href="/libs/dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/libs/node_modules/summernote/dist/summernote-bs4.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <link href="/libs/node_modules/wizard/steps.css" rel="stylesheet">
    <!--alerts CSS -->
    <link href="/libs/node_modules/sweetalert2/sweetalert2.min.css" rel="stylesheet">
  `,
  script: `
   
  
  `
  }) %>
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
     <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Spa</h4>
     </div>
     <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
           <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
              <li class="breadcrumb-item active">Spa</li>
           </ol>
           <a href="/admin/users"><button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> List</button></a>
        </div>
     </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <!-- Row -->
    <div class="row">
      <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              
              <!-- vertical wizard -->
              <div class="row">
                <div class="col-12">
                  <div class="card">
                      <div class="card-body wizard-content ">
                        <h4 class="card-title">Manage your spa landing page</h4>
                        <h6 class="card-subtitle">You can custome spa landing page at here</h6>
                        <form action="#" class="tab-wizard vertical wizard-circle" id="Landing-Form">
                            <!-- Step 1 -->
                            <h6>Choose template</h6>
                            <section>
                              <!-- Row -->
                              <div class="row">
                                  <h4 class="d-inline mb-5">Template will be same this image</h4>
                              </div>
                              <div class="row">
                                  <div class="col-12">
                                    <!-- Row -->
                                    <div class="row">
                                        <!-- column -->
                                        <div class="col-lg-3 col-md-6">
                                          <!-- Card -->
                                          <%- include('./elements/card_template', { 
                                            name: 'Crown Silver',
                                            image: '/images/template/landing1.png',
                                            id: '1'
                                          }) %>
                                          <!-- Card -->
                                        </div>
                                        <!-- column -->
                                        <!-- column -->
                                        <div class="col-lg-3 col-md-6">
                                          <!-- Card -->
                                          <%- include('./elements/card_template', { 
                                            name: 'Majestic Black',
                                            image: '/images/template/landing2.png',
                                            id: '2'
                                          }) %>
                                          <!-- Card -->
                                        </div>
                                        <!-- column -->
                                        <!-- column -->
                                        <div class="col-lg-3 col-md-6">
                                          <!-- Card -->
                                          <%- include('./elements/card_template', { 
                                            name: 'Royal Gold',
                                            image: '/images/template/landing3.png',
                                            id: '3'
                                          }) %>
                                          <!-- Card -->
                                        </div>
                                        <!-- column -->
                                        <!-- column -->
                                        <div class="col-lg-3 col-md-6 img-responsive">
                                          <!-- Card -->
                                          <%- include('./elements/card_template', { 
                                            name: 'Burgundy Red',
                                            image: '/images/template/landing4.png',
                                            id: '4'
                                          }) %>
                                          <!-- Card -->
                                        </div>
                                        <!-- column -->
                                          <!-- column -->
                                          <div class="col-lg-3 col-md-6">
                                            <!-- Card -->
                                            <%- include('./elements/card_template', { 
                                              name: 'Crown Silver',
                                              image: '/images/template/landing1.png',
                                              id: '5'
                                            }) %>
                                            <!-- Card -->
                                          </div>
                                          <!-- column -->
                                          <!-- column -->
                                          <div class="col-lg-3 col-md-6">
                                            <!-- Card -->
                                            <%- include('./elements/card_template', { 
                                              name: 'Majestic Black',
                                              image: '/images/template/landing2.png',
                                              id: '6'
                                            }) %>
                                            <!-- Card -->
                                          </div>
                                          <!-- column -->
                                    </div>
                                    <!-- Row -->
                                  </div>
                              </div>
                              <!-- End Row -->
                            </section>
                            <!-- Step 2 -->
                            <h6>Intro</h6>
                            <section>
                              <div class="row">
                                  <h4 class="m-t-40 mb-5">Each card is a slide in the landing page</h4>
                              </div>
                              <div class="Landing-Intro">

                                <% if(spaLandingData.intros && spaLandingData.intros.length>0){
                                  spaLandingData.intros.forEach(item=>{ %>
                                    <%- include('./elements/card_intro', { item, urlMediaUpload}) %>
                                  <%
                                  })
                                }
                                %>

                              </div>
                              <div class="row">
                                  <button type="button" class="Landing-Intro-Create btn btn-info d-none d-lg-block m-l-15 mb-3"><i class="fa fa-plus-circle"></i> Add slide</button>
                              </div>
                            </section>

                            <!-- Step 3 -->
                            <h6>Services</h6>
                            <section>
                              <div class="row">
                                  <h4 class="m-t-40 mb-5">Each card is a service in the landing page</h4>
                              </div>
                              <div class="Landing-Service">

                                <% if(spaLandingData.services && spaLandingData.services.length>0){
                                  spaLandingData.services.forEach(item=>{ %>
                                    <%- include('./elements/card_service', { item, urlMediaUpload}) %>
                                  <%
                                  })
                                }
                                %>

                              </div>

                              <div class="row">
                                  <button type="button" class="Landing-Service-Create btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Add service</button>
                              </div>
                            </section>
                            <!-- Step 4 -->
                            <h6>Wokring hour</h6>
                            <section>
                              <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Start</label>
                                        <input type="time" class="form-control" name="start" value="<%=spaLandingData && spaLandingData.working_hour && spaLandingData.working_hour.start%>">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label>End</label>
                                        <input type="time" class="form-control" name="end" value="<%=spaLandingData && spaLandingData.working_hour && spaLandingData.working_hour.end%>">
                                    </div>
                                  </div>
                              </div>
                            </section>
                           <!-- Step 5 -->
                           <h6>Team</h6>
                           <section>
                             <div class="row">
                                 <h4 class="m-t-40 mb-5">Each card is a member of spa</h4>
                             </div>
                             <div class="Landing-Team">

                              <% if(spaLandingData.members && spaLandingData.members.length>0){
                                spaLandingData.members.forEach(item=>{ %>
                                  <%- include('./elements/card_member', { item, urlMediaUpload}) %>                                  
                                <%
                                })
                              }
                              %>

                             </div>

                             <div class="row">
                                 <button type="button" class="Landing-Team-Create btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Add Member</button>
                             </div>
                           </section>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
              <!-- ============================================================== -->
              <!-- End PAge Content -->

              </div>
           </div>
        </div>
     </div>
     <!-- Row -->
     <!-- ============================================================== -->
     <!-- End PAge Content -->
     <!-- ============================================================== -->
     <!-- ============================================================== -->
     <!-- Right sidebar -->
     <!-- ============================================================== -->
     <!-- .right-sidebar -->
     <div class="right-sidebar">
        <div class="slimscrollright">
           <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
           <div class="r-panel-body">
              <ul id="themecolors" class="m-t-20">
                 <li><b>With Light sidebar</b></li>
                 <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
                 <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                 <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                 <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                 <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                 <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                 <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                 <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme working">7</a></li>
                 <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                 <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                 <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                 <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                 <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
              </ul>
              <ul class="m-t-20 chatonline">
                 <li><b>Chat option</b></li>
                 <li>
                    <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                 </li>
                 <li>
                    <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                 </li>
                 <li>
                    <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                 </li>
                 <li>
                    <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                 </li>
                 <li>
                    <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                 </li>
                 <li>
                    <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                 </li>
                 <li>
                    <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                 </li>
                 <li>
                    <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                 </li>
              </ul>
           </div>
        </div>
     </div>
     <!-- ============================================================== -->
     <!-- End Right sidebar -->
     <!-- ============================================================== -->
  </div>
</div>
<script src="/libs/dist/js/custom.min.js"></script>

<script src="/libs/node_modules/summernote/dist/summernote-bs4.min.js"></script>
<script src="/js/slugify.js"></script>


<script>
   function loadEditor(){
        $('.summernote').summernote({
            height: 150, // set editor height
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: false, // set focus to editable area after initializing summernote
        });
      }
      

  $(document).ready(function() {
      $(function() {
          $('.inline-editor').summernote({
              airMode: true
          });
  
      });
      loadEditor();
  });
</script>

<script src="/libs/node_modules/wizard/jquery.steps.min.js"></script>
<script src="/libs/node_modules/wizard/jquery.validate.min.js"></script>

<script>
  //Custom design form example
  $(".tab-wizard").steps({
      headerTag: "h6",
      bodyTag: "section",
      transitionEffect: "fade",
      titleTemplate: '<span class="step">#index#</span> #title#',
      labels: {
          finish: "Submit"
      },
      onFinished: function (event, currentIndex) {
        landing.onSubmit();
      },
      onSubmit: function (event, currentIndex) {

      },
      onSubmitted: function (event, currentIndex) {

      },
  });

  class LandingManageForm {
    constructor(id, spaLandingData) {
      this.form = $(id)
      this.id = id
      this.imageUpload = {}
      this.data = {
        templateId: spaLandingData.template_id,
        intros: [],
        services: [],
        members: [],
        workingHour: {}
      }
    }

    genStringRandom(){
      return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
    }

    getTemplateId(){
      return this.data.templateId
    }

    getData(){
      this.setIntros();
      this.setServices();
      this.setWorkingHour();
      this.setMembers();
      return this.data
    }

    setImageUpload(key, file){
      this.imageUpload[key] = file
    }

    setTemplate(id){
      this.data.templateId = id;
    }

    setIntros(){
      let arr = $(`${this.id} .Landing-Intro .card.CardItem`);
      let intros = [];
      arr.each((index, item)=>{
        intros.push({
          title: $(item).find('input[name=title]').val(),
          content: $(item).find('textarea[name=content]').val(),
          image: $(item).attr('key'),
          id: $(item).attr('id'),
        })
      })
      this.data.intros = intros;
    }

    setServices(){
      let arr = $(`${this.id} .Landing-Service .card.CardItem`);
      let services = [];
      arr.each((index, item)=>{

        services.push({
          title: $(item).find('input[name=title]').val(),
          content: $(item).find('textarea[name=content]').val(),
          image: $(item).attr('key'),
          price: $(item).find('input[name=price]').val(),
          id: $(item).attr('id'),
        })
      })
      this.data.services = services;
    }

    setMembers(){
      let arr = $(`${this.id} .Landing-Team .card.CardItem`);
      let members = [];
      arr.each((index, item)=>{
        members.push({
          name: $(item).find('input[name=name]').val(),
          content: $(item).find('textarea[name=content]').val(),
          avatar: $(item).attr('key'),
          id: $(item).attr('id'),
        })
      })
      this.data.members = members;
    }

    setWorkingHour(){
      let working = {
        start: $(`${this.id} input[name=start]`).val(),
        end: $(`${this.id} input[name=end]`).val()
      }
      this.data.workingHour = working;
    }
 
 
    onAddCard(cardTypeId, type){
      let wrapper = $(cardTypeId);
      switch(type){
        case 'intro':
          this.onAddCardIntro(wrapper);
          break;
        case 'service':
          this.onAddCardService(wrapper);
          break;
        case 'team':
          this.onAddCardTeam(wrapper);
          break;
        default:
          break;
      }
    }

    buildFormData(formData, data, parentKey) {
      if (data && typeof data === 'object' && !(data instanceof Date) && !(data instanceof File)) {
        Object.keys(data).forEach(key => {
          this.buildFormData(formData, data[key], parentKey ? `${parentKey}[${key}]` : key);
        });
      } else {
        const value = data == null ? '' : data;

        formData.append(parentKey, value);
      }
    }

    jsonToFormData(data) {
      const formData = new FormData();
      this.buildFormData(formData, data);
      return formData;
    }

    onSubmit(){
      let data = this.getData();
      let dataSend = this.jsonToFormData(data);

      Object.keys(this.imageUpload).map(key=>{
        dataSend.append(key, this.imageUpload[key]);
      })

      $.ajax({
        type: "POST",
        data: dataSend,
        method: 'POST',
        url: '/admin/spas/landing-page',
        processData: false,
        contentType: false,
        success: (data) => {
        },
        error: (data) => {
          // if(data && data.responseJSON && data.responseJSON.message &&  data.responseJSON.message.errors){
          //   Object.keys(data.responseJSON.message.errors).forEach(item=>{
          //     $('.form-group-'+item).addClass('has-danger');
          //     $('.form-group-'+item+' small').html(data.responseJSON.message.errors[item])
          //   })
          // }

        }
      })
    }

  
    onAddCardIntro(wrapper){
      let key = this.genStringRandom();
      let card = `
        <!-- ------------- -->
        <div class="CardItem card" key="${key}">
            <div class="card-header">
              Title
              <div class="card-actions">
                  <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                  <a class="btn-close" data-action=""><i class="ti-close"></i></a>
              </div>
            </div>
            <div class="card-body collapse show">
              <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title"> 
                    </div>
                  </div>
                  <div class="col-md-12 ">
                    <div class="form-group form-group-content ">
                        <label class="control-label">Content</label>
                        <textarea class="summernote" style="z-index: 1;" name="content"></textarea>
                        <small class="form-control-feedback"></small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" class="ImageUpload form-control" name="image" key="${key}"> 
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <!-- ----------------- -->
      `;
      wrapper.append(`
        ${card}
      `)
    }

    onAddCardService(wrapper){
      let key = this.genStringRandom();
      let card = `
        <!-- ------------- -->
          <div class="CardItem card" key="${key}">
              <div class="card-header">
                Title
                <div class="card-actions">
                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                    <a class="btn-close" data-action=""><i class="ti-close"></i></a>
                </div>
              </div>
              <div class="card-body collapse show">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                          <label>Title</label>
                          <input type="text" class="form-control" name='title'> 
                      </div>
                    </div>
                    <div class="col-md-12 ">
                      <div class="form-group form-group-content ">
                          <labelclass="control-label">Content</label>
                          <textarea class="summernote" style="z-index: 1;" name="content"></textarea>
                          <small class="form-control-feedback"></small>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                          <label>Image</label>
                          <input type="file" class="ImageUpload form-control" name='image' key="${key}"> 
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                          <label>Price</label>
                          <input type="text" class="form-control" name='price'> 
                      </div>
                    </div>
                </div>
              </div>
          </div>
        <!-- ----------------- -->
      `;

      wrapper.append(`
          ${card}
      `)
    }

    onAddCardTeam(wrapper){
      let key = this.genStringRandom();
      let card = `
        <!-- ------------- -->
        <div class="CardItem card" key="${key}">
            <div class="card-header">
              Title
              <div class="card-actions">
                  <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                  <a class="btn-close" data-action=""><i class="ti-close"></i></a>
              </div>
            </div>
            <div class="card-body collapse show">
              <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name"> 
                    </div>
                  </div>
                  <div class="col-md-12 ">
                    <div class="form-group form-group-content ">
                        <label class="control-label">Content</label>
                        <textarea class="summernote" style="z-index: 1;" name="content"></textarea>
                        <small class="form-control-feedback"></small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                        <label>Avatar</label>
                        <input type="file" class="ImageUpload form-control" name="avatar" key="${key}"> 
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <!-- ----------------- -->
      `;
      wrapper.append(`
        ${card}
      `)
    }
  }

  let spaLandingData = JSON.parse(`<%-JSON.stringify(spaLandingData)%>`)

  let landing = new LandingManageForm('#Landing-Form', spaLandingData);

  $('.Landing-Intro-Create').on('click', function(){
    landing.onAddCard('.Landing-Intro', 'intro');
    loadEditor();
  })

  $('.Landing-Service-Create').on('click', function(){
    landing.onAddCard('.Landing-Service', 'service');
    loadEditor();
  })

  $('.Landing-Team-Create').on('click', function(){
    landing.onAddCard('.Landing-Team', 'team');
    loadEditor();
  })

  $(document).on('change', '.ImageUpload', function(e){
    let file = e.target.files[0];
    let key = $(this).attr('key');
    if(key){
      landing.setImageUpload(key, file)
    }else{
      let id = $(this).attr('id');
      landing.setImageUpload(id, file)
    }
  })

  $('.Landing-Template').on('click', function(){
    landing.setTemplate($(this).attr('data'));
    $('.Landing-Template').html('Choose')
    $('.Landing-Template').removeClass('btn-success').addClass('btn-primary');
    $(this).html('Chosen')
    $(this).removeClass('btn-primary').addClass('btn-success');
  })

  function setView(){
    $('.Landing-Template').html('Choose')
    $('.Landing-Template').removeClass('btn-success').addClass('btn-primary');
    $(`.Landing-Template[data=${landing.getTemplateId()}]`).html('Chosen')
    $(`.Landing-Template[data=${landing.getTemplateId()}]`).removeClass('btn-primary').addClass('btn-success');
  }

  setView();

</script>