<% extend('../layouts/base',{
  title: "Service"
}) %>


    <!-- ======================================= 
        ==start Slider section==  
    =======================================-->
    <section class="home1-slider top-margin pos-relative">
      <div class="Modern-Slider" id="home1-slider">
          <!-- item -->
          <% expert.images.forEach(item=>{ %>
            <div class="item">
              <div class="img-fill">
                  <div class="img-area slider-img1" style="background: url(<%=urlMediaUpload.imageObj(item)%>) no-repeat center center / cover;"></div>
                  <div class="info">
                      <div class="align-col-left-center">
                          <div class="container">
                              <div class="row">
                                  <div class="col-12 text-left">
                                      <h3 class="color-d5 fw-700"><%=expert.user.first_name%> <%=expert.user.last_name%></h3>
                                      <h5 class="text-left"><%=expert.slogan%></h5>
                                      <a href="#about" class="explore-btn fw-700">Khám phá thêm</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /item -->
          <% }) %>

          <!-- /item-4 -->
      </div>
  </section>
  <!-- ======================================= 
      ==End Slider section==  
  =======================================-->
  <section class="service-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
              <%-expert.about%>
            </div>
        </div>
    </div>
  </section>
  
  <section class="service-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
              <%-expert.description%>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mt-5">
              <h4 class="mb-2">Tag: </h4>
              <% expert.tags.forEach(item=>{ %>
                <span class="btn-register"><%=item%></span> 
              <% }) %>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section>
    <
  </section>

    <!-- ======================================= 
            ==Start Service section== 
    =======================================-->
    <section class="service-section blog-page pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h3 class="color-72 fw-500 pb-10">Bài viết của <%= expert.user.first_name + expert.user.last_name %></h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore etc.</p> -->
                    </div>
                </div>
                <!--/col-->
            </div>
            <!--/row-->

            <div class="row">

              <% news.forEach(function(item) { %>
                <div class="col-md-4">
                    <div class="single-blog">
                        <div class="blog-img pos-relative">
                            <div class="img-area">
                                <a href="/tin-tuc/<%=item.slug%>"><img src="<%=urlMediaUpload.imageObj(item.image)%>" style="height: 200px;" alt="blog img" class="img-fluid"></a>
                            </div>
                            <ul class="brand">
                                <li><i class="fa fa-heart"></i>18</li>
                                <li><i class="fa fa-eye"></i><%=item.numOfViews%></li>
                                <!-- <li><i class="fa fa-folder-open"></i>Spa Tips</li>ontent -->
                                <li class="gallery"><i class="fa fa-picture-o"></i></li>
                            </ul>
                            <div class="date">
                                <h5 class="fw-700 color-ff"><%=moment(item.date).format('DD')%></h5>
                                <span class="fw-500 roboto color-ff ">Tháng <%=moment(item.date).format('MM')%></span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <a href="/tin-tuc/<%=item.slug%>" class="title fw-500 pt-20"><%=item.name%></a>
                            <div class="cut-content" ><%-truncate(item.content, 100)%></div>
                            <a href="/tin-tuc/<%=item.slug%>" class="readmore" title="Xem thêm" target="-blank">Xem thêm <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <% }) %>
              
               
            </div>
            <!--/row-->
        </div>
    </section>
    <!-- ======================================= 
            ==End Service section== 
    =======================================-->


    <!-- ======================================= 
            ==Start Testimonial section==  
    =======================================-->
    <section class="testimonial-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-8 offset-md-2">
                    <div class="section-title pb-60 text-center">
                    </div>

                    <div class="testimoial-wrapper owl-carousel">
                        
                    </div>
                    <!--/testimoial wrapper-->
                </div>
                <!--/col-->
            </div>
        </div>
    </section>
    <!-- ======================================= 
            ==End Testimonial section== 
    =======================================-->

   