<% extend('../layouts/base',{
  title: "Service"
}) %>


    <!-- ======================================= 
        ==start Slider section==  
    =======================================-->
    <section class="home1-slider top-margin pos-relative">
      <div class="Modern-Slider" id="home1-slider">
          <!-- item -->
          <% expert.images.forEach(item=>{ %>
            <div class="item">
              <div class="img-fill">
                  <div class="img-area slider-img1" style="background: url(<%=urlMediaUpload.imageObj(item)%>) no-repeat center center / cover;"></div>
                  <div class="info">
                      <div class="align-col-left-center">
                          <div class="container">
                              <div class="row">
                                  <div class="col-12 text-left">
                                      <h3 class="color-d5 fw-700"><%=expert.user.first_name%> <%=expert.user.last_name%></h3>
                                      <h5 class="text-left"><%=expert.slogan%></h5>
                                      <a href="#about" class="explore-btn fw-700">Khám phá thêm</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /item -->
          <% }) %>

          <!-- /item-4 -->
      </div>
  </section>
  <!-- ======================================= 
      ==End Slider section==  
  =======================================-->
  <section class="service-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
              <%-expert.about%>
            </div>
        </div>
    </div>
  </section>
  
  <section class="service-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
              <%-expert.description%>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mt-5">
              <h4 class="mb-2">Tag: </h4>
              <% expert.tags.forEach(item=>{ %>
                <span class="btn-register"><%=item%></span> 
              <% }) %>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section>
    <
  </section>

    <!-- ======================================= 
            ==Start Service section== 
    =======================================-->
    <section class="service-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h3 class="color-72 fw-500 pb-10">Our Services</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore etc.</p>
                    </div>
                </div>
                <!--/col-->
            </div>
            <!--/row-->

            <div class="row">
                <!--service-1-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="/images/service-img1.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-medical color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Beauty Treatment</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>

                <!--service-2-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="/images/service-img2.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-spa color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Spa Process</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>

                <!--service-3-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="/images/service-img3.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-medical-1 color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Body Massage</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>

                <!--service-4-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="/images/service-img4.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-hairdryer color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Hair Treatment</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>

                <!--service-5-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="/images/service-img5.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-hand-wash color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Manicure & Pedicure</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>

                <!--service-6-->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="img"><img src="/images/service-img6.jpg" alt="service-img" class="img-fluid"></div>
                        <div class="img-over-content text-center">
                            <i class="flaticon-relax color-d5 mb-10"></i>
                            <div class="divider"></div>
                            <a href="service-details.html" class="fw-500 color-33 mtb-15">Body Waxing</a>
                            <p>The power of golden ratio typography cannot be understated. </p>
                        </div>
                    </div>
                </div>
                <!--/col-->
            </div>
            <!--/row-->
        </div>
    </section>
    <!-- ======================================= 
            ==End Service section== 
    =======================================-->


    <!-- ======================================= 
            ==Start Testimonial section==  
    =======================================-->
    <section class="testimonial-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-8 offset-md-2">
                    <div class="section-title pb-60 text-center">
                    </div>

                    <div class="testimoial-wrapper owl-carousel">
                        
                    </div>
                    <!--/testimoial wrapper-->
                </div>
                <!--/col-->
            </div>
        </div>
    </section>
    <!-- ======================================= 
            ==End Testimonial section== 
    =======================================-->

    