<% extend('../layouts/base', { 
  title: "Users management",
  subTitle: "View",
  css: `
    <link href="/libs/dist/css/style.min.css" rel="stylesheet">
  `,
  script: `
  
  `
}) %>

<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
      <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">Users</h4>
      </div>
      <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                  <li class="breadcrumb-item active">Users</li>
              </ol>
              <a href="/admin/users" <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> List</button></a>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <!-- Row -->
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                      <div class="form-body">
                          <h3 class="card-title">Person Info</h3>
                          <hr>

                          <div class="row p-t-20">
                            <div class="col-6 mx-auto">
                              <div class="form-group">
                                <label class="control-label">Avatar</label>
                                <input readonly type="file" id="avatar" class="form-control" name="avatar" value="<%=user.avatar?user.avatar:''%>">
                                <img class="avatar-100 w-100" src="<%=urlMediaUpload.imageObj(user.avatar)%>" />
                             </div>
                            </div>
                            
                        </div>
                        <!--/row-->
                          <div class="row p-t-20">
                              <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input readonly class="form-control" name="first_name" value="<%= user.first_name %>" type="text"
                                      />
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input readonly class="form-control" name="last_name" value="<%= user.last_name %>" type="text"
                                      />
                                  </div>
                              </div>
                          </div>
                          <!--/row-->
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input readonly class="form-control" name="email" value="<%= user.email %>" type="email"
                                      />
                                  </div>
                              </div>
                              <!--/span-->
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="control-label">Date of birth</label>
                                  <input readonly type="date" class="form-control" placeholder="dd/mm/yyyy" name="birthday" required value="1990-12-31" value="<%=user.birthday?user.birthday:''%>">
                                </div>
                              </div>
                              <!--/span-->
                          </div>
                          <!--/row-->
                          <div class="row p-t-20">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="control-label">Gender</label>
                                  <select disabled class="form-control custom-select" name="gender">
                                      <option value="0" <%=user.gender=='0'?'selected':''%>>Male</option>
                                      <option value="1" <%=user.gender=='1'?'selected':''%>>Female</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="control-label">Phone</label>
                                  <input readonly class="form-control" name="phone" value="<%= user.phone?user.phone:'' %>" type="text"/>
                                </div>
                              </div>
                          </div>
                          <!-- /row  -->
                          <div class="row p-t-20">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">Address</label>
                                <input readonly class="form-control" name="address" value="<%= user.address?user.address:'' %>" type="text"/>
                              </div>
                            </div>
                        </div>
                        <!-- /row  -->
                          <div class="form-actions">
                              <a href="profile/<%= user.id %>/edit"><button type="button" class="btn btn-primary"> <i class="icon-note"></i> Edit</button></a>
                              <a href="profile/<%= user.id %>/changepass"><button type="button" class="btn waves-effect waves-light btn-danger"><i class="icon-note"></i> Change pass</button></a>
                              <a href="/admin">
                                  <button type="button" class="btn btn-inverse">Cancel</button>
                              </a>
                          </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Row -->
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <div class="right-sidebar">
          <div class="slimscrollright">
              <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
              <div class="r-panel-body">
                  <ul id="themecolors" class="m-t-20">
                      <li><b>With Light sidebar</b></li>
                      <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme">1</a></li>
                      <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                      <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                          
                      <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                      <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                      <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                      <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                      <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme working">7</a></li>
                      <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                      <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                      <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                      <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                      <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                  </ul>
                  <ul class="m-t-20 chatonline">
                      <li><b>Chat option</b></li>
                      <li>
                          <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                      </li>
                      <li>
                          <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                      </li>
                      <li>
                          <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                      </li>
                      <li>
                          <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                      </li>
                      <li>
                          <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                      </li>
                      <li>
                          <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                      </li>
                      <li>
                          <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                      </li>
                      <li>
                          <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
  </div>
</div>