<% extend('../layouts/base', {
  title: "Search",
  css: `
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

  `,
  script: `
  
  `


}) %>

   <!-- ======================================= 
            ==start Seassion booking section== 
    =======================================-->
    <section class="home-booking">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="booking-wrapper mt-45">
                        
                        <form action="/tim-kiem" method="get" class="clearfix">
                              <div class="beauty-service clearfix overflow-auto">
                                  <select class="wide" name="location" required>
                                      <% for (const [key, value] of Object.entries(dataProvince)) { %> 
                                          <option class="font-weight-bold" value="<%=value.slug%>"><%=value.name%></option>
                                          <% for (const [key1, value1] of Object.entries(dataDistrict)) { %> 
                                              <% if(key==value1.parent_code){ %> 
                                              <option class="pl-1 text-dark" value="<%=value1.slug%>_<%=value.slug%>" parent="<%=value.name%>"><%=value1.name_with_type%></option>
                                              <% } %> 
                                          <% } %>         
                                      <% } %> 
                              </select>
                              </div>
                            <div class="date">
                                <input type="" name="date" id="booking-date" placeholder="Ngày đặt" required />
                            </div>
  
                            <div class="seat">
                                <input type="number" id="seat" name="seat" min="1" max="50" placeholder="Số lượng">
                            </div>
  
                            <button type="submit">Tìm  kiếm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======================================= 
          ==End Seassion booking section== 
  =======================================-->

    <section class="search-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 col-sm-12">
                    <div class="search-section-results">
                        <% data.forEach(item=>{ %>
                          <div class="search-section-results-item">
                            <div>
                                <div class="col-md-6">
                                    <div class="single-blog">
                                        <div class="blog-img pos-relative">
                                            <div class="img-area">
                                                <a href="/spa/<%=item.slug%>"><img src="<%=urlMediaUpload.imageObj(item.logo)%>" alt="blog img" class="img-fluid" style="max-height: 200px;"></a>
                                            </div>
                                            <ul class="brand">
                                                <li><i class="fa fa-heart"></i>18</li>
                                                <li><i class="fa fa-shopping-cart" aria-hidden="true"></i>10</li>
                                                <li>
                                                    <p data-lat="<%=item.latitude%>" data-lng="<%=item.longitude%>" data-title="Nivea for men’s sensitive hydro gel the perfect cure." class="map home-search">
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i> Xem địa điểm
                                                    </p>
                                                </li>
                                                <li class="gallery"><i class="fa fa-picture-o"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-content">
                                        <a href="/spa/<%=item.slug%>" class="title fw-500 pt-20"><%=item.name%></a>
                                        <div class="remove-style"><%-truncate(item.description, 100)%></div>
                                        <div class="address">
                                            <p class="address"><i class="fa fa-home"></i><span> Địa chỉ:</span> <%=item.address%></p>
                                            <p class="phone"><i class="fa fa-phone"></i><span> Điện thoại:</span> <%=item.phone%></p>
                                            <p class="email"><i class="fa fa-envelope"></i><span> Email:</span> <a href="#"><%=item.email%></a></p>
                                            <p>Giờ làm việc: <i class="fa fa-clock-o"></i> <%=item.working_hour && item.working_hour.start || '8:00'%> - <%=item.working_hour && item.working_hour.end || '17:00'%></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>

                        <% }) %>

                        <% if(data.length===0){ %>
                          <div>Không có dữ liệu</div>
                        <% } %>

                    </div>
                </div>
                <div class="col-xl-5 col-sm-12 search-section-map">
                    <div id="mapid" style="width: 100%; height: 100%;min-height: 400px; z-index: 1;"></div>
                </div>
            </div>
        </div>
    </section>


<script>
  var spas = JSON.parse(`<%-JSON.stringify(data.map(item=> { return {
    name: item.name,
    latitude: item.latitude,
    longitude: item.longitude
  }}))%>`);

</script>
<script src="/libs_client/js/page-search.js"></script>
<script>
    $('.remove-style').find(' * ').removeAttr('style')
</script>